Классные_n8n_воркфлоу_на_русском/ИИ_Чатбот/Помощник_по_исследованиям_ИИ_через_Telegram_GPT-4o_mini_DeepSeek_R1_SerpAPI.json
{
  "meta": {
    "instanceId": "0a82a9d5784b67ad963ceff89283b2e40cb771be10fe58ba2682f3598a37c6e1",
    "templateCredsSetupCompleted": true
  },
  "nodes": [
    {
      "id": "2103bf29-ca9c-48a0-91f7-9ff81f2385b1",
      "name": "DeepSeek R1 AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -320,
        368
      ],
      "parameters": {
        "text": "={{ $json.message.text }} ",
        "options": {
          "systemMessage": "=You are an intelligent assistant specialized in understanding user queries and structuring them for deeper investigation. You act as a first-layer analyst, helping clarify, reformulate, or expand the user's original question when needed.\n\nYou have access to short-term memory and can recall recent context to ensure continuity in multi-turn conversations. Your goal is to understand what the user really needs, extract relevant context, and prepare a refined, focused query for a research agent.\n\nYou do not perform live research yourself. Instead, you pass refined questions forward.\nRespond clearly, naturally, and like a helpful human—not robotic or overly formal.\n"
        },
        "promptType": "define"
      },
      "typeVersion": 2
    },
    {
      "id": "c11f364a-f8f5-4894-b95a-c0aba8abdf70",
      "name": "DeepSeek Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "position": [
        -336,
        608
      ],
      "parameters": {
        "model": "deepseek-reasoner",
        "options": {}
      },
      "credentials": {
        "deepSeekApi": {
          "id": "djoVzbnfBXUw4V0K",
          "name": "DeepSeek Oficial account"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "2f14ea0b-67de-4eb2-bd20-37134914ae00",
      "name": "Simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        -160,
        608
      ],
      "parameters": {
        "sessionKey": "={{ $json.message.chat.id }}",
        "sessionIdType": "customKey"
      },
      "typeVersion": 1.3
    },
    {
      "id": "09271ba5-f172-4463-a56e-e68c6509624e",
      "name": "Research AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        64,
        368
      ],
      "parameters": {
        "text": "={{ $json.output }}",
        "options": {
          "systemMessage": "=You are a research assistant with access to real-time search results provided by SerpAPI. You must always base your answers exclusively on the information retrieved from SerpAPI—never speculate or guess.\n\nFor every user query, you will receive structured results including titles, snippets, prices, images, and links.\n\nYour job is to:\n- Carefully analyze the SerpAPI results\n- Identify the most relevant and helpful information\n- Summarize or compare the top 2–3 options clearly and concisely\n- Include: product name, short description, price (if available), link, and image URL (if available)\n\nFormat the response in a user-friendly, readable style—using bullets or emojis to improve clarity. Always include direct links and image URLs if they are provided in the search data.\n\nIf no useful results are found, say so transparently.\n\nDo not generate information outside of what SerpAPI returns. Your role is to process, summarize, and organize real web search data—nothing more.\n"
        },
        "promptType": "define"
      },
      "typeVersion": 2
    },
    {
      "id": "34c0f954-121a-44cd-af1b-eda624d4e05a",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        48,
        608
      ],
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "credentials": {
        "openAiApi": {
          "id": "wAP7QjMnHDyoGfIB",
          "name": "OpenAi Arlindeveloper"
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "d1fcc1af-f669-42b7-9886-b59e3fd08f1c",
      "name": "SerpAPI",
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "position": [
        272,
        608
      ],
      "parameters": {
        "options": {}
      },
      "credentials": {
        "serpApi": {
          "id": "OZlBEWEuwOPID81O",
          "name": "SerpAPI account"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "be7af2e5-f78e-4354-9f37-3eaa4a47fd35",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "position": [
        -640,
        192
      ],
      "webhookId": "3e00a8f3-50f1-4b71-9af3-f06813efd5e5",
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "credentials": {
        "telegramApi": {
          "id": "pl9ohsZOqEJv2B8U",
          "name": "Invest...Deep_bot"
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "c9d87edb-252b-4dc9-9d1b-67d5aeeb4e38",
      "name": "Send a text message",
      "type": "n8n-nodes-base.telegram",
      "position": [
        512,
        272
      ],
      "webhookId": "c933873b-ee2d-48ad-a3d9-24f238083a64",
      "parameters": {
        "text": "={{ $json.output }}",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "credentials": {
        "telegramApi": {
          "id": "pl9ohsZOqEJv2B8U",
          "name": "Invest...Deep_bot"
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "60e010f3-cca8-4081-9ebc-e424444ce0f0",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "disabled": true,
      "position": [
        -1328,
        -336
      ],
      "parameters": {
        "width": 540,
        "height": 1240,
        "content": "## AI Research Assistant via Telegram (GPT-4o mini + DeepSeek R1 + SerpAPI)"
      },
      "typeVersion": 1
    },
    {
      "id": "eec392b0-3809-4d7f-8db8-cb31d378fe73",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -768,
        -336
      ],
      "parameters": {
        "color": 7,
        "width": 360,
        "height": 1240,
        "content": "## 👥 Для кого это"
      },
      "typeVersion": 1
    },
    {
      "id": "c8c3f661-1d73-4117-ab00-67a634fd2ad2",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -384,
        -336
      ],
      "parameters": {
        "color": 7,
        "width": 360,
        "height": 1240,
        "content": "Этот рабочий процесс идеально подходит для всех, кто хочет получать резюме исследований на основе ИИ прямо в Telegram. Идеально для людей, часто задающих вопросы о продуктах, технологиях или принятии решений и желающих получать актуальные ответы из интернета."
      },
      "typeVersion": 1
    },
    {
      "id": "78f47408-284b-4ae3-a575-a056fca6d135",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        -336
      ],
      "parameters": {
        "color": 7,
        "width": 360,
        "height": 1240,
        "content": "## 🤖 Что он делает"
      },
      "typeVersion": 1
    },
    {
      "id": "6ba3e890-7a90-48e3-ab12-4cc8be49376a",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        384,
        -336
      ],
      "parameters": {
        "color": 7,
        "width": 360,
        "height": 1240,
        "content": "Пользователи отправляют вопрос через Telegram. Агент ИИ (DeepSeek R1) переформулирует и понимает намерение, в то время как второй агент (GPT-4o mini) проводит живое исследование с использованием SerpAPI. Наиболее релевантные ответы, включая ссылки и изображения, возвращаются через Telegram."
      },
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "connections": {
    "SerpAPI": {
      "ai_tool": [
        [
          {
            "node": "Research AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "DeepSeek R1 AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "DeepSeek R1 AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Research AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Research AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "DeepSeek R1 AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek R1 AI Agent": {
      "main": [
        [
          {
            "node": "Research AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}