Классные_n8n_воркфлоу_на_русском/IT_Операции/Авто-сводка_встреч_с_Google_Drive_OpenAI_Whisper_GPT-4_в_Sheets.json
{
  "meta": {
    "instanceId": "5aaf4236c70e34e423fbdb2c7b754d19253a933bb1476d548f75848a01e473cf"
  },
  "nodes": [
    {
      "id": "ab3309d9-cb3e-4b13-bb43-a214722c50b4",
      "name": "Looking for uploading file",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "position": [
        1620,
        120
      ],
      "parameters": {
        "event": "fileCreated",
        "options": {},
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "mode": "list",
          "value": "1Wjd0_fptBBBtLZySHt0qYPpZA_dBjyYi",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1Wjd0_fptBBBtLZySHt0qYPpZA_dBjyYi",
          "cachedResultName": "meeting audio"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "6c7bed41-fcb2-46de-b764-f0df6bf15d72",
      "name": "Download file",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        1920,
        120
      ],
      "parameters": {
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.id }}"
        },
        "options": {},
        "operation": "download"
      },
      "typeVersion": 3
    },
    {
      "id": "e44378ed-d689-4692-abe0-e9abc251dd40",
      "name": "Transcribe the file",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        2160,
        120
      ],
      "parameters": {
        "options": {},
        "resource": "audio",
        "operation": "transcribe"
      },
      "typeVersion": 1.8
    },
    {
      "id": "b5cfacc7-59c6-47ad-8d4b-ce56f6c8b339",
      "name": "Create summary",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        2380,
        120
      ],
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1",
          "cachedResultName": "GPT-4.1"
        },
        "options": {},
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "🧠 Системный запрос: Резюме встречи и извлечение задач"
            },
            {
              "content": "={{ $json.text }}"
            }
          ]
        }
      },
      "typeVersion": 1.8
    },
    {
      "id": "da7cec5f-301d-456b-8ca6-f6b676579e2d",
      "name": "Get date",
      "type": "n8n-nodes-base.dateTime",
      "position": [
        2760,
        120
      ],
      "parameters": {
        "options": {},
        "outputFieldName": "Date"
      },
      "typeVersion": 2
    },
    {
      "id": "b51f7dc9-2973-4f03-b160-90dc3ac0c0d2",
      "name": "Format date",
      "type": "n8n-nodes-base.dateTime",
      "position": [
        3060,
        120
      ],
      "parameters": {
        "date": "={{ $json.Date }}",
        "options": {},
        "operation": "formatDate"
      },
      "typeVersion": 2
    },
    {
      "id": "dc26f36b-7781-472f-86f4-6bd83270c95f",
      "name": "Save the summary",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        3320,
        120
      ],
      "parameters": {
        "columns": {
          "value": {
            "Date": "={{ $json.formattedDate }}",
            "Meeting Summary": "={{ $('Create summary').item.json.message.content }}"
          },
          "schema": [
            {
              "id": "Date",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Date",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Meeting Summary",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Meeting Summary",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "Date"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {},
        "operation": "append",
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1JZnhAhr8x2UzzTQbT5l9PXguKkSM1NlznM8LX66-2Nc/edit#gid=0",
          "cachedResultName": "Sheet1"
        },
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1JZnhAhr8x2UzzTQbT5l9PXguKkSM1NlznM8LX66-2Nc",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1JZnhAhr8x2UzzTQbT5l9PXguKkSM1NlznM8LX66-2Nc/edit?usp=drivesdk",
          "cachedResultName": "meeting"
        }
      },
      "typeVersion": 4.5
    },
    {
      "id": "cf384106-5413-4a92-9bdb-cce26b2452d4",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1560,
        0
      ],
      "parameters": {
        "color": 7,
        "width": 500,
        "height": 300,
        "content": "Вы умный помощник для встреч. Ваша задача — внимательно слушать или читать стенограмму встречи и:"
      },
      "typeVersion": 1
    },
    {
      "id": "a060bdea-3526-41c7-b16e-7a98bb843c98",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2120,
        0
      ],
      "parameters": {
        "color": 7,
        "width": 560,
        "height": 300,
        "content": "Подвести итог ключевым обсуждаемым вопросам — выделите основные темы, принятые решения, поднятые проблемы и соответствующие идеи. Держите это кратко и организованно."
      },
      "typeVersion": 1
    },
    {
      "id": "f65f26e5-03f5-4c49-bb41-69c3dd4ac6a8",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2740,
        0
      ],
      "parameters": {
        "color": 7,
        "width": 480,
        "height": 300,
        "content": "Извлечь задачи — определить конкретные задачи или последующие действия. Для каждой задачи укажите:"
      },
      "typeVersion": 1
    },
    {
      "id": "71991313-d9c3-406f-a4d8-177a5d853dd8",
      "name": "Sticky Note9",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "parameters": {
        "color": 4,
        "width": 1300,
        "height": 320,
        "content": "Описание задачи"
      },
      "typeVersion": 1
    },
    {
      "id": "54716f9a-097b-4e6e-82a0-5fcf9ff8e27b",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        340
      ],
      "parameters": {
        "color": 4,
        "width": 1289,
        "height": 2098,
        "content": "Назначенное лицо (если упомянуто)"
      },
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "connections": {
    "Get date": {
      "main": [
        [
          {
            "node": "Format date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format date": {
      "main": [
        [
          {
            "node": "Save the summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Transcribe the file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create summary": {
      "main": [
        [
          {
            "node": "Get date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe the file": {
      "main": [
        [
          {
            "node": "Create summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Looking for uploading file": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}