Классные_n8n_воркфлоу_на_русском/IT_Операции/Автоматизируйте_данные_о_технологиях_Sales_Pipeline_BuiltWith_в_карточки_лидов_Trello_с_помощью_Google_Sheets.json
{
  "id": "SdBKwXCUZaS6VYQE",
  "meta": {
    "instanceId": "84ad02d6104594179f43f1ce9cfe3a81637b2faedb57dafcb9e649b7542988db"
  },
  "name": "* Берет извлеченные данные и **создает карточки Trello для сканирования**.",
  "tags": [],
  "nodes": [
    {
      "id": "ecafd36c-ff4a-4348-95ec-5a221a73ddf7",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        -420,
        900
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "id": "efbaced5-1171-406b-9704-277a12a51f0d",
      "name": "Read Domains from Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        -200,
        900
      ],
      "parameters": {
        "options": {},
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Hs9LcBpC-kaGgD_QjkkqBEJzDeAd85RW_L1fXTYEdCA/edit#gid=0",
          "cachedResultName": "Sheet1"
        },
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1Hs9LcBpC-kaGgD_QjkkqBEJzDeAd85RW_L1fXTYEdCA",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Hs9LcBpC-kaGgD_QjkkqBEJzDeAd85RW_L1fXTYEdCA/edit?usp=drivesdk",
          "cachedResultName": "BuiltWith Domain"
        }
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Rp7XiR3hxJfv03ZO",
          "name": "Google Sheets account"
        }
      },
      "typeVersion": 4.5
    },
    {
      "id": "1793828d-c274-4b8b-b612-33a80a27fba0",
      "name": "Fetch detail via BuiltWith",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        60,
        900
      ],
      "parameters": {
        "url": "https://api.builtwith.com/v21/api.json",
        "options": {},
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "KEY",
              "value": "YOUR_API_KEY"
            },
            {
              "name": "LOOKUP",
              "value": "={{ $json.Domain }}"
            }
          ]
        }
      },
      "typeVersion": 4.2
    },
    {
      "id": "d64e4b44-5a7c-487d-98ec-5f5ff40ecf56",
      "name": "Extract Tech Stack Info",
      "type": "n8n-nodes-base.code",
      "position": [
        280,
        900
      ],
      "parameters": {
        "jsCode": "const result = $json.Results?.[0];\nconst domain = result?.Lookup || null;\nconst path = result?.Result?.Paths?.[0];\nconst url = path?.Url || null;\n\nlet extracted = null;\n\n// Loop through Groups to find the first available Tech entry\nfor (const group of path?.Groups || []) {\n  const category = group.Name;\n  const tech = group.Tech?.[0];\n  \n  if (tech) {\n    extracted = {\n      Technology: tech.Name,\n      Category: category,\n      \"First Detected\": tech.FirstDetected,\n      \"Last Detected\": tech.LastDetected,\n      Domain: domain,\n      URL: url\n    };\n    break; // Stop after first match\n  }\n}\n\nreturn extracted ? [extracted] : [];\n"
      },
      "typeVersion": 2
    },
    {
      "id": "63da73d8-06a5-4780-a8b3-24ebf1c93176",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        480,
        220
      ],
      "parameters": {
        "color": 5,
        "width": 360,
        "height": 880,
        "content": "# 📊 **Раздел 3: Создание карточек Trello**"
      },
      "typeVersion": 1
    },
    {
      "id": "43a5ae54-2faa-42c0-bdf1-013fe7cdbd34",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "parameters": {
        "color": 7,
        "width": 440,
        "height": 1100,
        "content": "📥📝"
      },
      "typeVersion": 1
    },
    {
      "id": "4b3f94c2-ff44-49b4-9382-da3933a015af",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -460,
        100
      ],
      "parameters": {
        "color": 6,
        "width": 420,
        "height": 1000,
        "content": "**Узел:**"
      },
      "typeVersion": 1
    },
    {
      "id": "4be59f24-b1bf-43c9-979c-70d53e4292c8",
      "name": "Trello",
      "type": "n8n-nodes-base.trello",
      "position": [
        620,
        900
      ],
      "parameters": {
        "name": "Scan BuiltWith Results",
        "description": "* `📗 Создать карточки Trello с технологическим стеком`",
        "additionalFields": {
          "due": "",
          "idMembers": ""
        }
      },
      "typeVersion": 1
    },
    {
      "id": "7df51d43-61d0-4999-8e65-d0d7271e0684",
      "name": "Sticky Note9",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2100,
        100
      ],
      "parameters": {
        "color": 4,
        "width": 1300,
        "height": 320,
        "content": "---"
      },
      "typeVersion": 1
    },
    {
      "id": "df23bd49-1a2c-4c40-8f38-3b90d24850a8",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2100,
        440
      ],
      "parameters": {
        "color": 4,
        "width": 1289,
        "height": 2858,
        "content": "### 🔹 Что это делает:"
      },
      "typeVersion": 1
    }
  ],
  "active": false,
  "pinData": {
    "Fetch detail via BuiltWith": [
      {
        "json": {
          "Results": [
            {
              "Lookup": "webflow.com",
              "Result": {
                "Paths": [
                  {
                    "Url": "http://webflow.com",
                    "Groups": [
                      {
                        "Name": "Web Hosting Providers",
                        "Tech": [
                          {
                            "Name": "Amazon Web Services",
                            "LastDetected": "2025-06-06",
                            "FirstDetected": "2022-01-10"
                          }
                        ]
                      },
                      {
                        "Name": "JavaScript Libraries",
                        "Tech": [
                          {
                            "Name": "React",
                            "LastDetected": "2025-06-06",
                            "FirstDetected": "2021-05-01"
                          },
                          {
                            "Name": "jQuery",
                            "LastDetected": "2024-12-01",
                            "FirstDetected": "2020-09-15"
                          }
                        ]
                      }
                    ]
                  }
                ]
              }
            }
          ]
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c7136027-b14e-4f10-a759-fbd538ae3991",
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Read Domains from Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Tech Stack Info": {
      "main": [
        [
          {
            "node": "Trello",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch detail via BuiltWith": {
      "main": [
        [
          {
            "node": "Extract Tech Stack Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Domains from Google Sheets": {
      "main": [
        [
          {
            "node": "Fetch detail via BuiltWith",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}