Классные_n8n_воркфлоу_на_русском/Финансы/Инструмент_индикаторов_Binance_SM_15_минут.json
{
  "id": "INYtgCEbxdGBDivU",
  "meta": {
    "instanceId": "a5283507e1917a33cc3ae615b2e7d5ad2c1e50955e6f831272ddd5ab816f3fb6"
  },
  "name": "Узел: **Агент индикаторов Binance SM 15мин**",
  "tags": [],
  "nodes": [
    {
      "id": "b6621b6c-c014-4028-b274-9df8279a830f",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        -280,
        140
      ],
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "credentials": {
        "openAiApi": {
          "id": "yUizd8t0sD5wMYVG",
          "name": "OpenAi account"
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "694b7706-e7c4-4441-8e76-24fadacfed96",
      "name": "Simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        0,
        140
      ],
      "parameters": {},
      "typeVersion": 1.3
    },
    {
      "id": "03bb428a-e79c-4f0c-aa33-8db7d9b96418",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -460,
        -180
      ],
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "message"
            },
            {
              "name": "sessionId"
            }
          ]
        }
      },
      "typeVersion": 1.1
    },
    {
      "id": "9ee0b29e-18bc-4048-a318-8727fbdc9c06",
      "name": "Binance SM 15min Indicators Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -60,
        -180
      ],
      "parameters": {
        "text": "={{ $json.message }}",
        "options": {
          "systemMessage": "You are a short-term technical analysis agent that calculates **15-minute interval trading signals** for any Binance Spot Market trading pair. You are used by higher-level agents to assess intraday volatility, trend momentum, and entry/exit opportunities.\n\n---\n\n### 🔐 Access Control\n\n* Expect to be triggered by another workflow.\n* Maintain `sessionId` context for user-specific response handling.\n\n---\n\n### 📥 Expected Input Format\n\n```json\n{\n  \"message\": \"BTCUSDT\",\n  \"sessionId\": \"123456789\"\n}\n```\n\n* `message`: Valid Binance symbol (e.g., BTCUSDT)\n* `sessionId`: Telegram user or workflow context\n\n---\n\n### 🔧 Tools Used\n\nYou POST the trading pair to this endpoint:\n\n```\nhttps://treasurium.app.n8n.cloud/webhook/15m-indicators\n```\n\n**Payload format:**\n\n```json\n{\n  \"symbol\": \"BTCUSDT\"\n}\n```\n\n---\n\n### 📊 Behavior\n\n* Request **15-minute kline data** with a limit sufficient for indicator calculations (typically `limit: 100`).\n* Calculate key indicators including:\n\n  * RSI\n  * MACD\n  * Bollinger Bands\n  * SMA/EMA\n  * ADX\n* Return results in Telegram-optimized format (e.g. Markdown with clear sections).\n\n---\n\n### 🧠 Use Cases\n\n* Detect momentum shifts in short-term windows.\n* Generate alerts for potential scalping or breakout signals.\n* Contribute insights to larger multi-timeframe analysis workflows (e.g., Quant AI Agent, Financial Analyst Tool).\n\n"
        },
        "promptType": "define"
      },
      "typeVersion": 1.9
    },
    {
      "id": "2678122f-90fc-42ba-ae63-724006266c38",
      "name": "HTTP Request 15m Indicators Tool",
      "type": "n8n-nodes-base.httpRequestTool",
      "position": [
        260,
        120
      ],
      "parameters": {
        "url": "https://treasurium.app.n8n.cloud/webhook/15m-indicators",
        "method": "POST",
        "options": {},
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "symbol",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', ``, 'string') }}"
            }
          ]
        }
      },
      "typeVersion": 4.2
    },
    {
      "id": "3427df64-fdcf-4b8a-a817-dc1385cdec50",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -540,
        -460
      ],
      "parameters": {
        "color": 4,
        "height": 500,
        "content": "## Триггер рабочего процесса"
      },
      "typeVersion": 1
    },
    {
      "id": "54c97888-ae8a-4098-b6ec-c6ced7ac340a",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -160,
        -620
      ],
      "parameters": {
        "color": 5,
        "width": 500,
        "height": 620,
        "content": "Узел: Когда выполняется другим рабочим процессом"
      },
      "typeVersion": 1
    },
    {
      "id": "fd29107f-4b0a-496e-a5d6-9054573fd917",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -340,
        80
      ],
      "parameters": {
        "width": 220,
        "height": 520,
        "content": "Этот рабочий процесс не запускается самостоятельно — он всегда инициируется:"
      },
      "typeVersion": 1
    },
    {
      "id": "06b488f6-5af2-4906-ab58-ff720ea4d1e2",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -80,
        80
      ],
      "parameters": {
        "color": 3,
        "width": 220,
        "height": 520,
        "content": "**Инструмент финансового аналитика Binance SM**"
      },
      "typeVersion": 1
    },
    {
      "id": "4b2198d4-e337-48ce-b857-edd1a8dbe1a2",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        200,
        80
      ],
      "parameters": {
        "color": 6,
        "width": 220,
        "height": 960,
        "content": "**Агент Quant AI Binance**"
      },
      "typeVersion": 1
    },
    {
      "id": "56983511-8084-4fc1-be59-cc223a062b1e",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        620,
        -1420
      ],
      "parameters": {
        "width": 1360,
        "height": 2860,
        "content": "## Рассуждение агента (GPT)"
      },
      "typeVersion": 1
    }
  ],
  "active": false,
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f7a27402-e9cd-4c5c-ad16-c3b8edf5a393",
  "connections": {
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Binance SM 15min Indicators Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Binance SM 15min Indicators Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request 15m Indicators Tool": {
      "ai_tool": [
        [
          {
            "node": "Binance SM 15min Indicators Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Binance SM 15min Indicators Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}