Классные_n8n_воркфлоу_на_русском/Дизайн/Создайте_сервис_восстановления_изображений_с_помощью_n8n_Gemini_AI_редактирования_изображений..json
{
  "meta": {
    "instanceId": "408f9fb9940c3cb18ffdef0e0150fe342d6e655c3a9fac21f0f644e8bedabcd9",
    "templateCredsSetupCompleted": true
  },
  "nodes": [
    {
      "id": "b6a5c37d-b845-4fd2-8ea3-db23aed99286",
      "name": "When clicking ‘Execute workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        -80,
        320
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "id": "1f363fc5-42cf-4e9c-ae74-496030362ed9",
      "name": "Sample Images",
      "type": "n8n-nodes-base.set",
      "position": [
        120,
        320
      ],
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "7196d08d-dff6-48e4-a06d-0ec863a4dff3",
              "name": "url",
              "type": "array",
              "value": "={{\n[\n  \"https://res.cloudinary.com/daglih2g8/image/upload/f_auto,q_auto/v1/n8n-workflows/l8b3j1sf6ejx73z0awsh\",\n  \"https://res.cloudinary.com/daglih2g8/image/upload/f_auto,q_auto/v1/n8n-workflows/htrjbmiozdrvxwdsreyt\",\n  \"https://res.cloudinary.com/daglih2g8/image/upload/f_auto,q_auto/v1/n8n-workflows/ykftgxpozp2pr4sxpuoy\"\n]\n}}"
            }
          ]
        }
      },
      "typeVersion": 3.4
    },
    {
      "id": "e078aba0-2f2b-47b5-90b2-c457184e6237",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        320,
        320
      ],
      "parameters": {
        "options": {},
        "fieldToSplitOut": "url"
      },
      "typeVersion": 1
    },
    {
      "id": "a0fbf72b-d079-4777-be06-531e0e131857",
      "name": "Download Image",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        520,
        320
      ],
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {}
      },
      "typeVersion": 4.2
    },
    {
      "id": "77f0d0c7-e6bd-4f15-beff-9cb53446fcb0",
      "name": "Gemini Image Restoration",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1100,
        320
      ],
      "parameters": {
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash-preview-image-generation:generateContent",
        "method": "POST",
        "options": {},
        "jsonBody": "={\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"text\": \"You are an vintage image restoration agent. Restore the given image by removing cracks and tears and fill in missing sections of the image. Retain the dimensions, colors and camera film type of the original image.\"\n        },\n        {\n          \"inline_data\": {\n            \"mime_type\": \"{{ $('Download Image').item.binary.data.mimeType }}\",\n            \"data\": \"{{ $json.data }}\"\n          }\n        }\n      ]\n    }\n  ],\n  \"generationConfig\": {\n    \"responseModalities\": [\n      \"TEXT\",\n      \"IMAGE\"\n    ]\n  }\n}",
        "sendBody": true,
        "specifyBody": "json",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googlePalmApi"
      },
      "credentials": {
        "googlePalmApi": {
          "id": "dSxo6ns5wn658r8N",
          "name": "Google Gemini(PaLM) Api account"
        }
      },
      "typeVersion": 4.2
    },
    {
      "id": "6aebcc29-a65d-4cb9-8d6a-56f24b58c7f5",
      "name": "Extract from File",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        720,
        320
      ],
      "parameters": {
        "options": {},
        "operation": "binaryToPropery"
      },
      "typeVersion": 1
    },
    {
      "id": "1c50d319-1771-408f-9015-f04bb6a3d305",
      "name": "Get Image Contents",
      "type": "n8n-nodes-base.set",
      "position": [
        1340,
        320
      ],
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "021aad70-de11-4387-844e-7e7dfd3b1044",
              "name": "image",
              "type": "string",
              "value": "={{ $json.candidates[0].content.parts.find(part => part.inlineData).inlineData.data }}"
            },
            {
              "id": "62877ef7-2057-4d35-a44b-1d58fa1f1769",
              "name": "mimeType",
              "type": "string",
              "value": "={{ $json.candidates[0].content.parts.find(part => part.inlineData).inlineData.mimeType }}"
            }
          ]
        }
      },
      "typeVersion": 3.4
    },
    {
      "id": "c19074f0-45a1-42bd-b25f-966f26ef5ef5",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2220,
        -200
      ],
      "parameters": {
        "width": 700,
        "height": 320,
        "content": "|Оригинал|Восстановлено|\n|-|-|\n|![](https://res.cloudinary.com/daglih2g8/image/upload/f_auto,q_auto/v1/n8n-workflows/l8b3j1sf6ejx73z0awsh)|![](https://res.cloudinary.com/daglih2g8/image/upload/f_auto,q_auto/v1/n8n-workflows/wvmeua6tpkvxiqcd6gpf)|"
      },
      "typeVersion": 1
    },
    {
      "id": "82e82d53-e5ff-44a2-96ca-1867058fbb65",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -140,
        80
      ],
      "parameters": {
        "color": 7,
        "width": 1060,
        "height": 460,
        "content": "## 1. Скачайте образцы изображений\n[Узнайте больше о узле HTTP Request](https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.httprequest/)\n\nДля этой демонстрации мы загрузим 3 образца винтажных фотографий. Эти изображения показывают различные повреждения, такие как трещины, разрывы и отсутствующие или затененные участки, и целью этого рабочего процесса будет автоматизация восстановления.\n\nВместо ручного триггера используйте триггер вебхука, чтобы интегрировать его в приложения!"
      },
      "typeVersion": 1
    },
    {
      "id": "eb1f70d5-2d3f-4f22-badb-d49569f565c2",
      "name": "Upload to Drive",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        1960,
        320
      ],
      "parameters": {
        "name": "=file_restored_{{ $itemIndex }}.{{ $binary.data.fileExtension }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "options": {},
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root",
          "cachedResultName": "/ (Root folder)"
        }
      },
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "yOwz41gMQclOadgu",
          "name": "Google Drive account"
        }
      },
      "typeVersion": 3
    },
    {
      "id": "4f980d9d-a993-4ec6-80fd-1a323e40822d",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        960,
        80
      ],
      "parameters": {
        "color": 7,
        "width": 620,
        "height": 460,
        "content": "## 2. Используйте Gemini LLM для восстановления поврежденных изображений\n[Узнайте больше о текстовом и изображенческом редактировании Gemini](https://ai.google.dev/gemini-api/docs/image-generation#gemini-image-editing)\n\nСпособность преобразования текста и изображений позволяет LLM мгновенно заменять множество приложений для редактирования изображений и фотографий. Здесь мы можем использовать новую модель генерации изображений Gemini для восстановления винтажных фотографий, удаляя повреждения и заполняя отсутствующие участки."
      },
      "typeVersion": 1
    },
    {
      "id": "69f7f355-5443-4265-b2a1-901711fa93dd",
      "name": "Convert to File",
      "type": "n8n-nodes-base.convertToFile",
      "onError": "continueRegularOutput",
      "position": [
        1720,
        320
      ],
      "parameters": {
        "options": {
          "mimeType": "={{ $json.mimeType }}"
        },
        "operation": "toBinary",
        "sourceProperty": "image"
      },
      "typeVersion": 1.1
    },
    {
      "id": "beae9111-8186-4afd-9fa6-c732f0229854",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1620,
        80
      ],
      "parameters": {
        "color": 7,
        "width": 560,
        "height": 460,
        "content": "## 3. Загрузка в Google Drive\n[Узнать больше о узле Google Drive](https://docs.n8n.io/integrations/builtin/app-nodes/n8n-nodes-base.googledrive)\n\nGemini выводит данные изображения в виде строки base64, поэтому иногда необходимо преобразование в бинарный формат, например, при загрузке в Google Drive. Мы используем Google Drive, но вы можете загружать в любое место по вашему выбору."
      },
      "typeVersion": 1
    },
    {
      "id": "00aaa458-1c49-4adf-87d6-ea70309107f9",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -640,
        -380
      ],
      "parameters": {
        "width": 460,
        "height": 920,
        "content": "## Попробуйте!\n### Этот шаблон n8n демонстрирует, как создать простой, но эффективный сервис восстановления винтажных изображений с использованием модели ИИ с возможностями редактирования изображений.\n\nСейчас, когда Gemini способен на мультимодальный вывод, отличное время, чтобы исследовать эту возможность для автоматизации изображений или графики. Давайте посмотрим, как хорошо он справляется с задачей восстановления изображений.\n\n**Обратите внимание, на момент написания каждое сгенерированное изображение будет стоить 0,039 доллара США**. Смотрите ценообразование Gemini для обновленной информации.\n\n### Как это работает\n* Изображения импортируются в наш рабочий процесс через узел HTTP и преобразуются в строки base64 с помощью узла Извлечь из файла.\n* Данные изображения затем передаются в модель генерации изображений Gemini. Подсказка предоставляется, чтобы указать Gemini \"восстановить\" изображение до почти нового состояния - конечно, не стесняйтесь экспериментировать с этой подсказкой для улучшения результатов!\n* Gemini отвечает изображением в виде строки base64, и поэтому используется узел преобразования в файл для преобразования данных в двоичный формат.\n* С восстановленным изображением в двоичном формате мы можем использовать его с нашим узлом Google Drive для загрузки в желаемую папку.\n\n### Как использовать\n* Эта демонстрация использует 3 случайных изображения, полученных из интернета, но подойдет любой типичный файл изображения.\n* Используйте узел вебхука для интеграции с другими приложениями.\n* Используйте триггер Telegram для мгновенного мобильного сервиса!\n\n### Требования\n* Google Gemini для генерации LLM/изображений\n* Google Drive для хранения загруженных файлов\n\n### Нужна помощь?\nПрисоединяйтесь к [Discord](https://discord.com/invite/XPKeKXeB7d) или спрашивайте на [Форуме](https://community.n8n.io/)!\n\nСчастливого хакерства!"
      },
      "typeVersion": 1
    },
    {
      "id": "4e4b822b-983b-48d2-a319-68242b7af171",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -640,
        580
      ],
      "parameters": {
        "color": 5,
        "width": 460,
        "height": 140,
        "content": "### Гео Ограничения!\nПожалуйста, обратите внимание, что на момент написания модель генерации изображений Gemini ограничена для определенных стран и регионов. Если вы получаете ошибки \"модель не найдена\", возможно, модель недоступна в вашей стране!"
      },
      "typeVersion": 1
    },
    {
      "id": "24d74843-d9b5-4302-8136-159e0a7dd492",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2220,
        140
      ],
      "parameters": {
        "width": 400,
        "height": 440,
        "content": "|Оригинал|Восстановлено|\n|-|-|\n|![](https://res.cloudinary.com/daglih2g8/image/upload/f_auto,q_auto/v1/n8n-workflows/htrjbmiozdrvxwdsreyt)|![](https://res.cloudinary.com/daglih2g8/image/upload/f_auto,q_auto/v1/n8n-workflows/ibm69t8gzcqqywrruioi)|"
      },
      "typeVersion": 1
    },
    {
      "id": "f77ed90e-70ca-4268-9c77-17e49f94a4bb",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2640,
        140
      ],
      "parameters": {
        "width": 580,
        "height": 300,
        "content": "|Оригинал|Восстановлено|\n|-|-|\n|![](https://res.cloudinary.com/daglih2g8/image/upload/f_auto,q_auto/v1/n8n-workflows/ykftgxpozp2pr4sxpuoy)|![](https://res.cloudinary.com/daglih2g8/image/upload/f_auto,q_auto/v1/n8n-workflows/iah4qyu1xpiqwgl9sbg8)|"
      },
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "connections": {
    "Split Out": {
      "main": [
        [
          {
            "node": "Download Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sample Images": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Image": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Upload to Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Gemini Image Restoration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Image Contents": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Image Restoration": {
      "main": [
        [
          {
            "node": "Get Image Contents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Sample Images",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}