Классные_n8n_воркфлоу_на_русском/Мультимодальный_ИИ/Генератор_бизнес-кейсов_для_рыночных_исследований_с_использованием_GPT-4_Perplexity_и_Claude.json
{
  "id": "ugY2Cg4sj2vP0rk6",
  "meta": {
    "instanceId": "1c7b08fed4406d546caf4a44e8b942ca317e7e207bb9a5701955a1a6e1ce1843",
    "templateCredsSetupCompleted": true
  },
  "name": "Категория: ИИ + Исследования | GPT + Perplexity | Бизнес-стратегия",
  "tags": [],
  "nodes": [
    {
      "id": "76a873cb-d035-4ca4-8ca9-ca9d2b1d3aa1",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "position": [
        -280,
        -60
      ],
      "webhookId": "ef1cfdf4-c68f-44d6-8600-1ea3b9fd2025",
      "parameters": {
        "options": {}
      },
      "typeVersion": 1.1
    },
    {
      "id": "75de6535-e334-4d64-a57f-7260df401a9d",
      "name": "Anthropic Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "position": [
        580,
        120
      ],
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-20250514",
          "cachedResultName": "Claude 4 Sonnet"
        },
        "options": {}
      },
      "credentials": {},
      "typeVersion": 1.3
    },
    {
      "id": "ce9f1ce5-2e12-4acc-ad9c-f92ba13ca246",
      "name": "Google Docs",
      "type": "n8n-nodes-base.googleDocs",
      "position": [
        820,
        -60
      ],
      "parameters": {
        "actionsUi": {
          "actionFields": [
            {
              "text": "={{ $json.text }}",
              "action": "insert"
            }
          ]
        },
        "operation": "update",
        "documentURL": "Redacted"
      },
      "credentials": {},
      "typeVersion": 2
    },
    {
      "id": "7932ae33-d1e4-4bb8-b38e-91b74435cb5f",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -340,
        -180
      ],
      "parameters": {
        "width": 220,
        "height": 500,
        "content": "Ввод триггера чата"
      },
      "typeVersion": 1
    },
    {
      "id": "0a490125-3a86-43cf-83c5-1b436e54e7ff",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -100,
        -180
      ],
      "parameters": {
        "color": 5,
        "width": 300,
        "height": 500,
        "content": "Определить область исследования"
      },
      "typeVersion": 1
    },
    {
      "id": "09e33798-af03-45bf-b0a0-a01aa654d8e3",
      "name": "Research Scope Definer Agent",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        -80,
        -60
      ],
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "chatgpt-4o-latest",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "options": {},
        "messages": {
          "values": [
            {
              "content": "={{ $json.chatInput }}"
            },
            {
              "role": "system",
              "content": "Вы — планировщик рыночных исследований и агент по запросам Perplexity (исследования)."
            }
          ]
        }
      },
      "credentials": {},
      "typeVersion": 1.8
    },
    {
      "id": "17d56e9a-735f-4195-963b-e5939a596728",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        220,
        -180
      ],
      "parameters": {
        "color": 2,
        "width": 220,
        "height": 500,
        "content": "Ваша задача — взять следующий запрос пользователя и определить структурированную область исследования для управления агентами ИИ. Разбейте его на следующие компоненты:"
      },
      "typeVersion": 1
    },
    {
      "id": "16ca83ec-c18d-4196-8122-0ca4dfeb0871",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        460,
        -180
      ],
      "parameters": {
        "color": 5,
        "width": 300,
        "height": 500,
        "content": "Отрасль/Тип бизнеса"
      },
      "typeVersion": 1
    },
    {
      "id": "4794c40e-9eef-4c91-9d31-56c07072537c",
      "name": "Perplexity Business Case Deep Research",
      "type": "n8n-nodes-base.perplexity",
      "position": [
        280,
        -60
      ],
      "parameters": {
        "model": "sonar-deep-research",
        "options": {},
        "messages": {
          "message": [
            {
              "role": "system",
              "content": "You are a professional market analyst with access to real-time data and reports.\n\nYour task is to conduct deep web research based on the following structured research scope. Provide a concise, well-cited summary for each of the following areas:\n- Industry trends\n- Consumer behavior\n- Competitive landscape\n- Regulatory or environmental factors\n- Key statistics and data\n\nUse reliable sources (government reports, industry publications, global databases). Include in-text citation links in markdown format.\n\nPresent the research summary in clear sections with headings.\n"
            },
            {
              "content": "={{ $json.message.content }}"
            }
          ]
        },
        "requestOptions": {}
      },
      "credentials": {},
      "typeVersion": 1
    },
    {
      "id": "2de9f3f6-5e61-47c1-842d-c7bf996d4a1b",
      "name": "Claude Business Case Writer",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        480,
        -60
      ],
      "parameters": {
        "text": "={{ $json.choices[0].message.content }}",
        "batching": {},
        "messages": {
          "messageValues": [
            {
              "message": "You are a business strategy consultant writing a professional market opportunity case study. You will receive user input from a Perplexity node which includes the thinking steps. exclude the content of the thinking steps, which is usually the content between <think> at the beginning of Perplexity's output. Use the structured topic scope and supporting research provided to write a well-organized, 1500-word case study. Your case study must include:  1. Executive Summary   2. Market Overview   3. Opportunity Analysis   4. Competitive Landscape   5. Challenges and Risks   6. Strategic Recommendations   7. Conclusion    Maintain a formal and analytical tone. Use section headers. Ensure insights are backed by the research provided.  "
            }
          ]
        },
        "promptType": "define"
      },
      "typeVersion": 1.7
    },
    {
      "id": "dbc5fc4a-3f45-45f6-a34c-c302900dedd0",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        780,
        -180
      ],
      "parameters": {
        "color": 3,
        "width": 300,
        "height": 500,
        "content": "Выходные данные бизнес-кейса в Google Docs"
      },
      "typeVersion": 1
    },
    {
      "id": "756b169a-3f46-4671-a8fe-62d7732a3911",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1340,
        -240
      ],
      "parameters": {
        "color": 3,
        "width": 980,
        "height": 1000,
        "content": "🧠 Генератор кейс-исследований рыночных исследований"
      },
      "typeVersion": 1
    }
  ],
  "active": false,
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4122d186-b3c0-46d0-8a74-fdb918dc2ceb",
  "connections": {
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Claude Business Case Writer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Research Scope Definer Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude Business Case Writer": {
      "main": [
        [
          {
            "node": "Google Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Research Scope Definer Agent": {
      "main": [
        [
          {
            "node": "Perplexity Business Case Deep Research",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Perplexity Business Case Deep Research": {
      "main": [
        [
          {
            "node": "Claude Business Case Writer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}