Классные_n8n_воркфлоу_на_русском/Генерация_Лидов/Автоматизация_отправок_форм_Tally_в_Airtable_с_ответами_Gmail.json
{
  "id": "5ecs295v3ZaiY8HM",
  "meta": {
    "instanceId": "e95c8554b03e2c16a5c8c44cc7d45f6192b966fba75d5438d1201989ceff13e2",
    "templateCredsSetupCompleted": true
  },
  "name": "### Цель",
  "tags": [],
  "nodes": [
    {
      "id": "de34d97a-e3e8-4be7-9a2b-c77222eeb2ca",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "position": [
        1060,
        1060
      ],
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "0186e9c9-424c-4ad8-8382-1614cf48c9d1",
              "name": "full_name",
              "type": "string",
              "value": "={{ $json.body.data.fields[0].value }}"
            },
            {
              "id": "e5559efc-1458-48e6-a207-f7fea896e930",
              "name": "company_name",
              "type": "string",
              "value": "={{ $json.body.data.fields[1].value }}"
            },
            {
              "id": "bbc04ed4-a8f7-4778-bfdc-038c637320fa",
              "name": "job_title",
              "type": "string",
              "value": "={{ $json.body.data.fields[2].value }}"
            },
            {
              "id": "8175addd-ef95-45f9-b307-b218d6ede2be",
              "name": "email",
              "type": "string",
              "value": "={{ $json.body.data.fields[3].value }}"
            },
            {
              "id": "f017c0bd-bd5d-4a5e-967f-bb27c514f5ee",
              "name": "phone_number",
              "type": "string",
              "value": "={{ $json.body.data.fields[4].value }}"
            }
          ]
        }
      },
      "typeVersion": 3.4
    },
    {
      "id": "635a0ccc-dd60-4e24-aaff-50dda69e9705",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "position": [
        1960,
        1060
      ],
      "webhookId": "f647bd2e-8bdd-49ab-8eba-8a1db07bc2e8",
      "parameters": {},
      "typeVersion": 1.1
    },
    {
      "id": "8592b7dc-baa5-4306-9ffa-f341ade8e434",
      "name": "Webhook : Tally",
      "type": "n8n-nodes-base.webhook",
      "position": [
        620,
        1060
      ],
      "webhookId": "e92bb825-14ff-43e0-bd7c-24504d4acb56",
      "parameters": {
        "path": "formulaire-tally",
        "options": {},
        "httpMethod": "POST"
      },
      "typeVersion": 2
    },
    {
      "id": "316dcbae-3957-4109-a984-cbf068529c74",
      "name": "Airtable : Create a record",
      "type": "n8n-nodes-base.airtable",
      "position": [
        1600,
        1060
      ],
      "parameters": {
        "base": {
          "__rl": true,
          "mode": "list",
          "value": "appPk6zfIQ1EbBq43",
          "cachedResultUrl": "https://airtable.com/appPk6zfIQ1EbBq43",
          "cachedResultName": "Client Requests"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "tblLkuoQ9AYsAQ0io",
          "cachedResultUrl": "https://airtable.com/appPk6zfIQ1EbBq43/tblLkuoQ9AYsAQ0io",
          "cachedResultName": "Client Requests"
        },
        "columns": {
          "value": {
            "Email": "={{ $json.email }}",
            "Full Name": "={{ $json.full_name }}",
            "Job Title": "={{ $json.job_title }}",
            "Company Name": "={{ $json.company_name }}",
            "Phone Number": "={{ $json.phone_number }}"
          },
          "schema": [
            {
              "id": "Full Name",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Full Name",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Company Name",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Company Name",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Job Title",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Job Title",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Email",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone Number",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Phone Number",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Submission Date",
              "type": "string",
              "display": true,
              "removed": true,
              "readOnly": true,
              "required": false,
              "displayName": "Submission Date",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {},
        "operation": "create"
      },
      "credentials": {
        "airtableTokenApi": {
          "id": "fbET2GdSoJjK5Idu",
          "name": "Airtable Personal Access Token account"
        }
      },
      "typeVersion": 2.1
    },
    {
      "id": "9fc0fee1-0896-4d3b-bb97-30c6bc8e9493",
      "name": "GMAIL : Send a message",
      "type": "n8n-nodes-base.gmail",
      "position": [
        2360,
        1060
      ],
      "webhookId": "52b3183a-ee31-49ed-8711-d822c07ea3aa",
      "parameters": {
        "sendTo": "={{ $json.fields.Email }}",
        "message": "=<p>Hi {{ $json.fields['Full Name'] }},</p>\n\n<p>Thanks for reaching out! We’ve received your request and our team will get back to you as soon as possible.</p>\n\n<p><strong>Here’s a quick summary:</strong></p>\n<ul>\n\n <li><strong>Company:</strong>{{ $json.fields['Company Name'] }} </li>\n  <li><strong>Job Title:</strong> {{ $json.fields['Job Title'] }}</li>\n\n<p>We’ll be in touch very soon!</p>\n<p>— The Team</p>\n\n",
        "options": {},
        "subject": "Thanks for reaching out!"
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "FKD43HaVeVoUXOi0",
          "name": "Gmail account"
        }
      },
      "typeVersion": 2.1
    },
    {
      "id": "531b37a5-ab97-401f-b8c1-71b076319121",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        160,
        620
      ],
      "parameters": {
        "width": 200,
        "height": 340,
        "content": "**Все еще вручную копируете и вставляете ответы на форму Tally?**"
      },
      "typeVersion": 1
    },
    {
      "id": "90a2d5a9-1138-468e-b5be-1f98b0a027eb",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        560,
        1240
      ],
      "parameters": {
        "color": 3,
        "height": 1460,
        "content": "Что если каждое отправление будет автоматически поступать в Airtable — и пользователь сразу получит автоматическое письмо?"
      },
      "typeVersion": 1
    },
    {
      "id": "28b97f32-e5ac-4368-a644-663ce1f0fce7",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        960,
        1240
      ],
      "parameters": {
        "color": 6,
        "width": 300,
        "height": 1160,
        "content": "Именно это и делает этот рабочий процесс."
      },
      "typeVersion": 1
    },
    {
      "id": "6bd0534c-1b1f-43ae-927a-b976d7a8de7e",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1540,
        1220
      ],
      "parameters": {
        "color": 2,
        "width": 280,
        "height": 1500,
        "content": "Без кода, без головной боли — просто простая и быстрая автоматизация:"
      },
      "typeVersion": 1
    },
    {
      "id": "0ecbb548-23dd-4f81-9ba7-b60da12227d9",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1980,
        1240
      ],
      "parameters": {
        "color": 4,
        "width": 520,
        "height": 900,
        "content": "**Tally → Airtable → Gmail.**"
      },
      "typeVersion": 1
    },
    {
      "id": "27ecea70-1450-40a4-9adc-b71c3916d403",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2580,
        1020
      ],
      "parameters": {
        "width": 320,
        "height": 200,
        "content": "## ШАГ 1 — Захват ответов формы Tally"
      },
      "typeVersion": 1
    }
  ],
  "active": false,
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "734ed2ae-e251-4b36-a008-4f8f1703fe45",
  "connections": {
    "Wait": {
      "main": [
        [
          {
            "node": "GMAIL : Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Airtable : Create a record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook : Tally": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable : Create a record": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}