Классные_n8n_воркфлоу_на_русском/ИИ/Extract_Instagram_Profile_Data_with_Apify_and_Store_in_Google_Sheets.json
{
  "id": "rDGkfQpVtkD1D6RH",
  "meta": {
    "instanceId": "84ad02d6104594179f43f1ce9cfe3a81637b2faedb57dafcb9e649b7542988db",
    "templateCredsSetupCompleted": true
  },
  "name": "```json",
  "tags": [],
  "nodes": [
    {
      "id": "923b9b8e-f344-4984-a9cc-2ad111db39a4",
      "name": "Provide Usernames",
      "type": "n8n-nodes-base.formTrigger",
      "position": [
        0,
        0
      ],
      "webhookId": "896b15ed-970c-4164-a57a-b6e567b72db7",
      "parameters": {
        "options": {},
        "formTitle": "Instagram profile scraper",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Username",
              "requiredField": true
            }
          ]
        },
        "formDescription": "Scrapes profile via apify"
      },
      "typeVersion": 2.2
    },
    {
      "id": "cd6ea4f9-45dc-4193-954a-798a04716c5c",
      "name": "Scrape Instagram Profile via Apify",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        280,
        0
      ],
      "parameters": {
        "url": "https://api.apify.com/v2/actor-tasks/<TASK_ID>/run-sync-get-dataset-items?token=<YOUR_API_TOKEN>",
        "method": "POST",
        "options": {},
        "jsonBody": "={\n  \"input\": {\n    \"usernames\": [\n      {{ $json.Username }}\n    ],\n    \"resultsLimit\": 1\n  }\n}",
        "sendBody": true,
        "specifyBody": "json"
      },
      "typeVersion": 4.2
    },
    {
      "id": "e140ffbf-0ca4-4415-8cff-a78dfc6c040b",
      "name": "Format Instagram Profile Data",
      "type": "n8n-nodes-base.set",
      "position": [
        660,
        0
      ],
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "5dc90212-ac40-4351-a15a-ef9f35ffd389",
              "name": "username",
              "type": "string",
              "value": "={{ $json.username }}"
            },
            {
              "id": "02339555-2d6b-4d20-a59c-2e8dfa63361c",
              "name": "fullName",
              "type": "string",
              "value": "={{ $json.fullName }}"
            },
            {
              "id": "f5a95d72-443d-468a-a1a6-8cc394b93fa4",
              "name": "followersCount",
              "type": "number",
              "value": "={{ $json.followersCount }}"
            },
            {
              "id": "826fe0c8-4fbe-44e7-abf3-8a73022151f2",
              "name": "followsCount",
              "type": "number",
              "value": "={{ $json.followsCount }}"
            },
            {
              "id": "dac8d9cc-5fa8-47d8-859d-d9f164ec20bd",
              "name": "biography",
              "type": "string",
              "value": "={{ $json.biography }}"
            },
            {
              "id": "4c775459-f8f5-43d1-8b1a-aa122413cd12",
              "name": "profilePicUrl",
              "type": "string",
              "value": "={{ $json.profilePicUrl }}"
            }
          ]
        }
      },
      "typeVersion": 3.4
    },
    {
      "id": "9c4f528b-c5c9-4f0b-92c4-1f9d75532fc4",
      "name": "Append Profile to Google Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        880,
        0
      ],
      "parameters": {
        "columns": {
          "value": {
            "Username": "={{ $json.username }}",
            "Biography": "={{ $json.biography }}",
            "Full Name": "={{ $json.fullName }}",
            "Followers Count": "={{ $json.followersCount }}",
            "Following Count": "={{ $json.followsCount }}",
            "Profile Pic URL": "={{ $json.profilePicUrl }}"
          },
          "schema": [
            {
              "id": "Username",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Username",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Full Name",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Full Name",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Followers Count",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Followers Count",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Following Count",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Following Count",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Biography",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Biography",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Profile Pic URL",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Profile Pic URL",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {},
        "operation": "append",
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VQUy0tfWujh0lyulh0w6UhLGq87f8j8F7uFOaLFUyuQ/edit#gid=0",
          "cachedResultName": "Sheet1"
        },
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1VQUy0tfWujh0lyulh0w6UhLGq87f8j8F7uFOaLFUyuQ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VQUy0tfWujh0lyulh0w6UhLGq87f8j8F7uFOaLFUyuQ/edit?usp=drivesdk",
          "cachedResultName": "Instagram Profile Scraper"
        }
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "K5yYfUnKFTqaRn6A",
          "name": "Google Sheets account"
        }
      },
      "typeVersion": 4.5
    },
    {
      "id": "1980e973-f240-4b55-a4b8-4faa36f78c42",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -40,
        -1460
      ],
      "parameters": {
        "color": 3,
        "width": 500,
        "height": 1660,
        "content": "### 🔹 **1. `Триггер: При отправке формы`**"
      },
      "typeVersion": 1
    },
    {
      "id": "9c341b28-0385-4691-904b-8fa8d8e0b213",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        600,
        -1240
      ],
      "parameters": {
        "color": 6,
        "width": 500,
        "height": 1440,
        "content": "* **Тип узла:** Ручной триггер (или вебхук, если встроен в реальную форму)"
      },
      "typeVersion": 1
    },
    {
      "id": "1552dfc6-f98c-45e1-bb18-071fbb69a159",
      "name": "Sticky Note9",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1800,
        -1460
      ],
      "parameters": {
        "color": 4,
        "width": 1300,
        "height": 320,
        "content": "* **Цель:** Запускает рабочий процесс, когда пользователь отправляет форму с именем пользователя Instagram"
      },
      "typeVersion": 1
    },
    {
      "id": "91ca76cf-d9dd-489c-a9de-357c876d00e2",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1800,
        -1120
      ],
      "parameters": {
        "color": 4,
        "width": 1289,
        "height": 2418,
        "content": "* **Ожидаемый ввод:**"
      },
      "typeVersion": 1
    }
  ],
  "active": false,
  "pinData": {
    "Scrape Instagram Profile via Apify": [
      {
        "json": {
          "fullName": "Jane Doe",
          "username": "influencer_1",
          "biography": "Travel | Fashion | Lifestyle 🌍",
          "isPrivate": false,
          "isVerified": true,
          "postsCount": 340,
          "externalUrl": "https://janedoe.com",
          "latestPosts": [
            {
              "caption": "Exploring the Amalfi coast 🌊",
              "imageUrl": "https://instagram.com/post/abc.jpg",
              "timestamp": 1717000000,
              "likesCount": 2300,
              "commentsCount": 180
            }
          ],
          "followsCount": 320,
          "profilePicUrl": "https://instagram.com/path/to/profile-pic.jpg",
          "followersCount": 12500
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0073a2a2-78d1-4806-b6f9-216a99a06107",
  "connections": {
    "Provide Usernames": {
      "main": [
        [
          {
            "node": "Scrape Instagram Profile via Apify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Instagram Profile Data": {
      "main": [
        [
          {
            "node": "Append Profile to Google Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape Instagram Profile via Apify": {
      "main": [
        [
          {
            "node": "Format Instagram Profile Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}