Классные_n8n_воркфлоу_на_русском/ИИ/Автоматизированный_постер_заголовков_в_социальных_сетях_через_Bright_data.json
{
  "id": "u2mAzsvf9Aj0k3Ux",
  "meta": {
    "instanceId": "60046904b104f0f72b2629a9d88fe9f676be4035769f1f08dad1dd38a76b9480"
  },
  "name": "- LinkedIn: https://www.linkedin.com/in/yaronbeen/",
  "tags": [],
  "nodes": [
    {
      "id": "22814b65-765e-48c3-98c2-00982b74e70e",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        3000,
        900
      ],
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "credentials": {
        "openAiApi": {
          "id": "8sEyPDkC5p4w4Jha",
          "name": "OpenAi account"
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "0fd15cfb-7564-4db3-bdb0-b0a32b69c4fb",
      "name": "LinkedIn post writer",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        2980,
        680
      ],
      "parameters": {
        "text": "={{ $json.Title }}",
        "options": {
          "systemMessage": "Extract the headline and write a post for LinkedIn based on the headline"
        },
        "promptType": "define"
      },
      "typeVersion": 1.9
    },
    {
      "id": "aac3869f-9f8e-49b0-bdc9-9eae0921474c",
      "name": "Run workflow",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        1960,
        680
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "id": "a5187a0d-25b8-45d4-8578-4ad51397ab41",
      "name": "Set Target News URL",
      "type": "n8n-nodes-base.set",
      "position": [
        2180,
        680
      ],
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "2c5f11b0-9f25-4b30-b0a0-1080fd33e7d4",
              "name": "SIte",
              "type": "string",
              "value": "Vogue"
            },
            {
              "id": "65be4ab3-6cef-4f70-9cb9-e9753fbf7543",
              "name": "URL",
              "type": "string",
              "value": "https://www.vogue.com/fashion"
            }
          ]
        }
      },
      "typeVersion": 3.4
    },
    {
      "id": "79362a39-b73d-4f40-bdee-780d78abfae6",
      "name": "Publish to LinkedIn",
      "type": "n8n-nodes-base.linkedIn",
      "position": [
        3360,
        680
      ],
      "parameters": {
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "typeVersion": 1
    },
    {
      "id": "fbf2c950-fd2c-4aa3-9e24-45d171f1056b",
      "name": "Publish to X (Twitter)",
      "type": "n8n-nodes-base.twitter",
      "position": [
        3980,
        680
      ],
      "parameters": {
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "typeVersion": 2
    },
    {
      "id": "7f4e4da6-3611-496b-a4bc-93daa1d9039f",
      "name": "X (Twitter) post writer",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        3620,
        680
      ],
      "parameters": {
        "text": "={{ $('Extract Title').item.json.Title }}",
        "options": {
          "systemMessage": "Extract the headline and write a post for Twitter based on the headline"
        },
        "promptType": "define"
      },
      "typeVersion": 1.9
    },
    {
      "id": "7b730fa3-5c0a-422f-8de5-f713b2f945ab",
      "name": "Sticky Note9",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "parameters": {
        "color": 4,
        "width": 1300,
        "height": 320,
        "content": "======================================="
      },
      "typeVersion": 1
    },
    {
      "id": "defc9ec0-917a-4020-940b-9cb926a3a582",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        340
      ],
      "parameters": {
        "color": 4,
        "width": 1289,
        "height": 3418,
        "content": "ПОМОЩЬ С РАБОЧИМ ПРОЦЕССОМ"
      },
      "typeVersion": 1
    },
    {
      "id": "490c2efe-0d1e-408c-806c-5e3a48f61264",
      "name": "Scrape Vogue via Bright data",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2480,
        680
      ],
      "parameters": {
        "url": "https://api.brightdata.com/request",
        "method": "POST",
        "options": {},
        "sendBody": true,
        "sendHeaders": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "zone",
              "value": "n8n_unblocker"
            },
            {
              "name": "url",
              "value": "={{ $json.URL }}"
            },
            {
              "name": "country",
              "value": "us"
            },
            {
              "name": "format",
              "value": "raw"
            }
          ]
        },
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer API_KEY"
            }
          ]
        }
      },
      "typeVersion": 4.2
    },
    {
      "id": "a7a4f66f-b5a8-4563-a306-57b72c1ac0a1",
      "name": "Extract Title",
      "type": "n8n-nodes-base.html",
      "position": [
        2720,
        680
      ],
      "parameters": {
        "options": {},
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "Title",
              "cssSelector": "#\\35 f10df145161a26b33fec09b > div > div > div > div.SummaryItemWrapper-iwvBff.juTBkb.summary-item.summary-item--no-icon.summary-item--text-align-center.summary-item--layout-placement-text-below.summary-item--layout-position-image-left.summary-item--layout-proportions-50-50.summary-item--side-by-side-align-center.summary-item--side-by-side-image-right-mobile-false.summary-item--standard.SummaryCollageFiveItem-kWJUcr.fqnbhT.search_result_item-68507588d2b17faf259ac70e.undefined_summary_item-68507588d2b17faf259ac70e > div.SummaryItemContent-eiDYMl.fSburJ.summary-item__content > a > h3"
            }
          ]
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "f4d2614f-ddf7-48ea-83cc-7f7675ca35be",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1940,
        -40
      ],
      "parameters": {
        "color": 5,
        "width": 380,
        "height": 920,
        "content": "======================================="
      },
      "typeVersion": 1
    },
    {
      "id": "4926a696-817c-417e-86d7-ebb4eacb5c3a",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2420,
        -80
      ],
      "parameters": {
        "color": 7,
        "width": 440,
        "height": 960,
        "content": "Если у вас есть вопросы или нужна поддержка, пожалуйста, свяжитесь с:"
      },
      "typeVersion": 1
    },
    {
      "id": "aaab5f22-013e-4697-80c5-3fac64a76e6f",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2940,
        -80
      ],
      "parameters": {
        "color": 6,
        "width": 540,
        "height": 1100,
        "content": "Yaron@nofluff.online"
      },
      "typeVersion": 1
    },
    {
      "id": "fb12e0fa-64e2-4ea3-a01b-8b1204efae2a",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3580,
        -60
      ],
      "parameters": {
        "color": 3,
        "width": 540,
        "height": 940,
        "content": "Изучите больше советов и учебных материалов здесь:"
      },
      "typeVersion": 1
    },
    {
      "id": "2ea582b1-c9ac-4a6c-8c39-ec97cd14b6f4",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4240,
        -60
      ],
      "parameters": {
        "color": 7,
        "width": 380,
        "height": 240,
        "content": "- YouTube: https://www.youtube.com/@YaronBeen/videos"
      },
      "typeVersion": 1
    }
  ],
  "active": false,
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "cb513f17-9010-4f78-bc85-756813814380",
  "connections": {
    "Run workflow": {
      "main": [
        [
          {
            "node": "Set Target News URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Title": {
      "main": [
        [
          {
            "node": "LinkedIn post writer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "LinkedIn post writer",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "X (Twitter) post writer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Publish to LinkedIn": {
      "main": [
        [
          {
            "node": "X (Twitter) post writer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Target News URL": {
      "main": [
        [
          {
            "node": "Scrape Vogue via Bright data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LinkedIn post writer": {
      "main": [
        [
          {
            "node": "Publish to LinkedIn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "X (Twitter) post writer": {
      "main": [
        [
          {
            "node": "Publish to X (Twitter)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape Vogue via Bright data": {
      "main": [
        [
          {
            "node": "Extract Title",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}