Классные_n8n_воркфлоу_на_русском/ИИ/Автоматизированный_мониторинг_форумов_через_Bright_data.json
{
  "id": "hEt4K6p0NxH8EKdf",
  "meta": {
    "instanceId": "60046904b104f0f72b2629a9d88fe9f676be4035769f1f08dad1dd38a76b9480"
  },
  "name": "Этот раздел обеспечивает регулярный запуск вашей автоматизации и поиск **правильного продукта/темы**, которую вы хотите отслеживать.",
  "tags": [],
  "nodes": [
    {
      "id": "d46077f8-080f-4611-afd9-75b3c50fd912",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        3280,
        820
      ],
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "credentials": {
        "openAiApi": {
          "id": "8sEyPDkC5p4w4Jha",
          "name": "OpenAi account"
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "e8147cbd-97f6-40c3-84b3-2d30d10e7e04",
      "name": "Run Periodically",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        1780,
        600
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "e60c1249-dc44-46b9-b691-5329f58d7e41",
      "name": "Define Search Keyword",
      "type": "n8n-nodes-base.set",
      "position": [
        2000,
        600
      ],
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "96c78660-315e-491f-8942-56dc4365c093",
              "name": "keyword",
              "type": "string",
              "value": "iPhone+16"
            }
          ]
        }
      },
      "typeVersion": 3.4
    },
    {
      "id": "fd3c6b86-2f82-4290-84cf-50627dc38fb7",
      "name": "Google Search Results",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2240,
        600
      ],
      "parameters": {
        "url": "https://api.brightdata.com/request",
        "method": "POST",
        "options": {},
        "jsonBody": "={\n  \"zone\": \"n8n_unblocker\",\n  \"url\": \"https://www.google.com/search?q=site:quora.com+{{ $json.keyword }}\",\n  \"country\": \"us\",\n  \"format\": \"raw\",\n  \"headers\": {\n    \"User-Agent\": \"Mozilla/5.0 (Windows NT 10.0; Win64; x64)\"\n  }\n}",
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer API_KEY"
            }
          ]
        }
      },
      "typeVersion": 4.2
    },
    {
      "id": "edddbf94-87ed-4d59-9fed-4994dedc618d",
      "name": "Links from Google HTML",
      "type": "n8n-nodes-base.html",
      "position": [
        2440,
        600
      ],
      "parameters": {
        "options": {},
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "Thread Titles",
              "cssSelector": "h3",
              "returnArray": true
            },
            {
              "key": "b",
              "cssSelector": "div.yuRUbf a",
              "returnArray": true,
              "returnValue": "attribute"
            }
          ]
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "2bb4b2c0-49a5-49e5-afc8-220d0e39d0ce",
      "name": "Format Thread URLs",
      "type": "n8n-nodes-base.code",
      "position": [
        2620,
        600
      ],
      "parameters": {
        "jsCode": "const titles = items[0].json[\"Thread Titles\"];\nconst urls = items[0].json[\"b\"].map(obj => obj.href);\n\n// Build array of { title, url }\nconst output = [];\n\nfor (let i = 0; i < Math.min(titles.length, urls.length); i++) {\n  output.push({\n    json: {\n      title: titles[i],\n      url: urls[i]\n    }\n  });\n}\n\nreturn output;\n"
      },
      "typeVersion": 2
    },
    {
      "id": "a3f3ad74-a548-4135-b07f-69f38bf7dd9b",
      "name": "Individual Quora Threads",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2860,
        600
      ],
      "parameters": {
        "url": "https://api.brightdata.com/request",
        "method": "POST",
        "options": {},
        "jsonBody": "={\n  \"zone\": \"n8n_unblocker\",\n  \"url\": \"{{ $json.url }}\",\n  \"country\": \"us\",\n  \"format\": \"raw\",\n  \"headers\": {\n    \"User-Agent\": \"Mozilla/5.0 (Windows NT 10.0; Win64; x64)\"\n  }\n}",
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer API_KEY"
            }
          ]
        }
      },
      "typeVersion": 4.2
    },
    {
      "id": "3c1de319-64fc-4cb8-b78f-92fbf0d7ecba",
      "name": "Save to Google Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        3660,
        600
      ],
      "parameters": {
        "columns": {
          "value": {
            "Topic": "={{ $('Define Search Keyword').item.json.keyword }}",
            "Discussion Summary": "={{ $json.output }}"
          },
          "schema": [
            {
              "id": "Topic",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Topic",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Discussion Summary",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Discussion Summary",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {},
        "operation": "append",
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eCtVRklGjweUv7HS4wfMEGtdyd8YGzNl0D-3zNbExgM/edit#gid=0",
          "cachedResultName": "Sheet1"
        },
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1eCtVRklGjweUv7HS4wfMEGtdyd8YGzNl0D-3zNbExgM",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eCtVRklGjweUv7HS4wfMEGtdyd8YGzNl0D-3zNbExgM/edit?usp=drivesdk",
          "cachedResultName": "Quora discussion summary"
        }
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "r2mDaisH6e9VkwHl",
          "name": "Google Sheets account"
        }
      },
      "typeVersion": 4.6
    },
    {
      "id": "efd597da-ed96-49b5-94d9-c5202e39eeca",
      "name": "AI Feedback Summary1",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        3300,
        600
      ],
      "parameters": {
        "text": "=Summarize the following consumer feedback from Quora:\n{{ $json.answers }}",
        "options": {},
        "promptType": "define"
      },
      "typeVersion": 2
    },
    {
      "id": "99bc2765-9f81-449c-9eac-9138aad22117",
      "name": "Answers from Threads",
      "type": "n8n-nodes-base.html",
      "position": [
        3080,
        600
      ],
      "parameters": {
        "options": {},
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "answers",
              "cssSelector": "=<span style=\"font-weight: normal; font-style: normal; background: none;\">Well, from what I know, it depends what you're hoping to get out of it . Like , honestly, if your 15 is working fine , why bother ? I mean , my brother just got the 15 and he's already talking about the 16 , it's crazy . He's always gotta have the newest thing, you know ? Waste of money, probably . Unless there's something *really* different, a game changer , a must-have feature.. . which there probably isnt, but marketing makes you think there is! I upgraded from a 13 to a 14, and honestly? Didn't notice much difference . The camera was *slightly* better, I guess , but not a huge jump. Maybe </span>",
              "returnArray": true
            }
          ]
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "e80004d6-b806-40cc-b91c-f04315a2cbf5",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1740,
        0
      ],
      "parameters": {
        "color": 5,
        "width": 420,
        "height": 780,
        "content": "### 🔹 **РАЗДЕЛ 1: Определите и запустите поиск**"
      },
      "typeVersion": 1
    },
    {
      "id": "875b5fef-45b8-494d-9984-252731491437",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2180,
        40
      ],
      "parameters": {
        "color": 6,
        "width": 580,
        "height": 740,
        "content": "**🕒 Запуск + ✏️ Поле ввода**"
      },
      "typeVersion": 1
    },
    {
      "id": "198121dc-1955-4528-a4be-9f80b837e98c",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2780,
        100
      ],
      "parameters": {
        "color": 3,
        "width": 440,
        "height": 680,
        "content": "| Узел | Название                         | Иконка | Цель                                                                                     |"
      },
      "typeVersion": 1
    },
    {
      "id": "8a48bc8d-18fc-4561-81dd-4bdb47118a29",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3240,
        140
      ],
      "parameters": {
        "color": 2,
        "width": 580,
        "height": 800,
        "content": "| ---- | ------------------------------- | ------ | ---------------------------------------------------------------------------------------- |"
      },
      "typeVersion": 1
    },
    {
      "id": "afb12d4e-a33e-4075-af50-6baea9823663",
      "name": "Sticky Note9",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "parameters": {
        "color": 4,
        "width": 1300,
        "height": 320,
        "content": "| 🕒   | `Запуск: Запускать периодически` | ⏰    | Этот узел автоматически запускает рабочий процесс по расписанию (например, каждые 24 часа). |"
      },
      "typeVersion": 1
    },
    {
      "id": "50dca867-69b8-4f76-a72f-4d528d721da0",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        340
      ],
      "parameters": {
        "color": 4,
        "width": 1289,
        "height": 1958,
        "content": "| ✏️   | `Ввод: Определить ключевое слово для поиска` | 📝   | Введите вручную название продукта или тему для мониторинга (например, \"iPhone 16\").       |"
      },
      "typeVersion": 1
    },
    {
      "id": "ae18ba38-888b-4cf1-b6fb-6d0648d1bbdb",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3900,
        140
      ],
      "parameters": {
        "color": 7,
        "width": 380,
        "height": 240,
        "content": "#### 💡 Почему это полезно:"
      },
      "typeVersion": 1
    }
  ],
  "active": false,
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f3426c3d-894c-4ba7-bb50-8ffc1f444bb7",
  "connections": {
    "Run Periodically": {
      "main": [
        [
          {
            "node": "Define Search Keyword",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Feedback Summary1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Format Thread URLs": {
      "main": [
        [
          {
            "node": "Individual Quora Threads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Feedback Summary1": {
      "main": [
        [
          {
            "node": "Save to Google Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Answers from Threads": {
      "main": [
        [
          {
            "node": "AI Feedback Summary1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Define Search Keyword": {
      "main": [
        [
          {
            "node": "Google Search Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Search Results": {
      "main": [
        [
          {
            "node": "Links from Google HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Links from Google HTML": {
      "main": [
        [
          {
            "node": "Format Thread URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Individual Quora Threads": {
      "main": [
        [
          {
            "node": "Answers from Threads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}