Классные_n8n_воркфлоу_на_русском/ИИ/Ежедневный_дайджест_новостей_AI_для_публикаций_в_LinkedIn_с_OpenAI_GPT_и_RSS-ленты.json
{
  "id": "A1BpZBaWcvkOWcwa",
  "meta": {
    "instanceId": "165eeeab01794b7e17149140feede9770abd551f548c8e5e659bb131cbf1c42e",
    "templateCredsSetupCompleted": true
  },
  "name": "- Связать достижения с более широкими тенденциями и последствиями в области ИИ",
  "tags": [
    {
      "id": "RvSTTevqmRPvoZLN",
      "name": "AI Automation",
      "createdAt": "2025-06-12T09:29:23.843Z",
      "updatedAt": "2025-06-12T09:29:23.843Z"
    }
  ],
  "nodes": [
    {
      "id": "f9cd99e7-e2be-4a7b-8531-f5456baa874b",
      "name": "Daily AI News Check1",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        640,
        540
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 24
            }
          ]
        }
      },
      "typeVersion": 1.1
    },
    {
      "id": "ec5c4fce-1b9a-493c-83cf-03bfbdc53900",
      "name": "VentureBeat AI RSS1",
      "type": "n8n-nodes-base.rssFeedRead",
      "position": [
        860,
        340
      ],
      "parameters": {
        "url": "https://feeds.feedburner.com/venturebeat/SZYF",
        "options": {}
      },
      "typeVersion": 1
    },
    {
      "id": "685ec481-1944-4641-ba1b-4ce614300ab0",
      "name": "TechCrunch AI RSS1",
      "type": "n8n-nodes-base.rssFeedRead",
      "position": [
        860,
        540
      ],
      "parameters": {
        "url": "https://techcrunch.com/category/artificial-intelligence/feed/",
        "options": {}
      },
      "typeVersion": 1
    },
    {
      "id": "16c0389b-a162-43ca-8ca6-3d8177343743",
      "name": "OpenAI Blog RSS1",
      "type": "n8n-nodes-base.rssFeedRead",
      "position": [
        860,
        740
      ],
      "parameters": {
        "url": "https://openai.com/blog/rss.xml",
        "options": {}
      },
      "typeVersion": 1
    },
    {
      "id": "ccceb4bb-8a58-4b99-8aef-4f2cf3413ed4",
      "name": "Filter Recent AI Articles1",
      "type": "n8n-nodes-base.code",
      "position": [
        1300,
        540
      ],
      "parameters": {
        "jsCode": "// Filter articles from last 48 hours and relevant to AI\nconst now = new Date();\nconst twoDaysAgo = new Date(now.getTime() - (48 * 60 * 60 * 1000));\n\n// Create a Set to track unique articles (by title or link)\nconst uniqueArticles = new Map();\n\nitems.forEach(item => {\n  const articleDate = new Date(item.json.pubDate || item.json.date);\n  const isRecent = articleDate >= twoDaysAgo;\n  \n  const title = (item.json.title || '').toLowerCase();\n  const description = (item.json.description || '').toLowerCase();\n  \n  const aiKeywords = ['ai', 'artificial intelligence', 'machine learning', 'ml', 'neural', 'gpt', 'llm', 'chatbot', 'automation', 'deep learning', 'agentic ai'];\n  const isAIRelated = aiKeywords.some(keyword => \n    title.includes(keyword) || description.includes(keyword)\n  );\n  \n  // Only add if recent, AI-related, and not already added\n  if (isRecent && isAIRelated) {\n    const uniqueKey = item.json.link || item.json.title;\n    if (!uniqueArticles.has(uniqueKey)) {\n      uniqueArticles.set(uniqueKey, {\n        title: item.json.title,\n        description: item.json.description,\n        link: item.json.link,\n        pubDate: item.json.pubDate || item.json.date,\n        source: item.json.source || 'RSS Feed',\n        dateObj: articleDate // Keep for sorting\n      });\n    }\n  }\n});\n\n// Convert Map to array, sort by date (newest first) and limit to top 10\nconst sortedItems = Array.from(uniqueArticles.values())\n  .sort((a, b) => b.dateObj - a.dateObj)\n  .slice(0, 10);\n\n// Return formatted items without dateObj\nreturn sortedItems.map(item => ({\n  json: {\n    title: item.title,\n    description: item.description,\n    link: item.link,\n    pubDate: item.pubDate,\n    source: item.source\n  }\n}));"
      },
      "typeVersion": 2
    },
    {
      "id": "ec596d9a-e00b-4692-8b4e-2516587fdd06",
      "name": "Merge All Sources1",
      "type": "n8n-nodes-base.merge",
      "position": [
        1080,
        540
      ],
      "parameters": {
        "mode": "combine",
        "options": {},
        "combinationMode": "multiplex"
      },
      "typeVersion": 2.1
    },
    {
      "id": "80882e61-b50d-49cc-bfc0-a9f4a5c74d0f",
      "name": "AI News Summarizer1",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        1960,
        640
      ],
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "options": {},
        "messages": {
          "values": [
            {
              "content": "=Вы являетесь экспертом-аналитиком в области ИИ с глубокими знаниями тенденций, прорывов и рыночных изменений в искусственном интеллекте. Ваша задача - проанализировать несколько новостных статей об ИИ и создать увлекательное, проницательное резюме для профессионалов LinkedIn."
            }
          ]
        }
      },
      "credentials": {
        "openAiApi": {
          "id": "f7L6E1EUdFJcLPvL",
          "name": "OpenAi account"
        }
      },
      "typeVersion": 1.3
    },
    {
      "id": "2bc85161-3605-4314-8b6a-d2c69446f7f9",
      "name": "Prepare Articles for Summary1",
      "type": "n8n-nodes-base.code",
      "position": [
        1520,
        540
      ],
      "parameters": {
        "jsCode": "// Combine all articles into a single string for summarization\nconst articles = items.map(item => {\n  return `Title: ${item.json.title}\\nDescription: ${item.json.description}\\nSource: ${item.json.source}\\nDate: ${item.json.pubDate}\\nLink: ${item.json.link}\\n---`;\n}).join('\\n\\n');\n\nreturn [{\n  json: {\n    articles: articles,\n    articleCount: items.length,\n    processedAt: new Date().toISOString()\n  }\n}];"
      },
      "typeVersion": 2
    },
    {
      "id": "cdaedb20-4077-4a99-90fd-1dcb9b571f2d",
      "name": "Generate LinkedIn Post1",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        2336,
        640
      ],
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "options": {},
        "messages": {
          "values": [
            {
              "content": "**Ваш анализ должен:**"
            }
          ]
        }
      },
      "credentials": {
        "openAiApi": {
          "id": "f7L6E1EUdFJcLPvL",
          "name": "OpenAi account"
        }
      },
      "typeVersion": 1.3
    },
    {
      "id": "0fc05ed0-2436-4ca8-a7e2-c64a3cd09430",
      "name": "Send for Review1",
      "type": "n8n-nodes-base.gmail",
      "position": [
        2712,
        640
      ],
      "webhookId": "aebb12c8-3e28-4ac0-b92d-48fac000adb2",
      "parameters": {
        "message": "={{ $json.message.content }}",
        "options": {
          "appendAttribution": false
        },
        "subject": "LinkedIn AI Post Ready for Review",
        "emailType": "text"
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "4tHgDbStdK9Sf0qM",
          "name": "Gmail account (Avkash)"
        }
      },
      "typeVersion": 2.1
    },
    {
      "id": "ed56b632-c173-4e53-9a71-5c1acc974746",
      "name": "Check Articles Exist1",
      "type": "n8n-nodes-base.if",
      "position": [
        1740,
        540
      ],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "version": 1,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "has-articles-condition",
              "operator": {
                "type": "number",
                "operation": "gt"
              },
              "leftValue": "={{ $json.articleCount }}",
              "rightValue": 0
            }
          ]
        }
      },
      "typeVersion": 2
    },
    {
      "id": "e407c536-a7c9-472d-b996-e621c2fd3ca6",
      "name": "No Articles Notification1",
      "type": "n8n-nodes-base.gmail",
      "position": [
        2038,
        440
      ],
      "webhookId": "73b80b01-cad4-41a0-aa14-4e9321cdea4b",
      "parameters": {
        "message": "No AI News Found Today",
        "options": {},
        "subject": "No AI News Found Today",
        "emailType": "text"
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "4tHgDbStdK9Sf0qM",
          "name": "Gmail account (Avkash)"
        }
      },
      "typeVersion": 2.1
    },
    {
      "id": "2627909f-3c21-48a4-9591-b97609d9f7a5",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        600,
        140
      ],
      "parameters": {
        "color": 4,
        "width": 620,
        "height": 820,
        "content": "- Определить самые значительные и влиятельные достижения в области ИИ из предоставленных статей"
      },
      "typeVersion": 1
    },
    {
      "id": "b0cdaa66-7053-42e8-a1d1-614381a52d8a",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1240,
        140
      ],
      "parameters": {
        "color": 5,
        "width": 1000,
        "height": 820,
        "content": "- Сосредоточиться на историях, которые будут важны для бизнес-лидеров, разработчиков и энтузиастов ИИ"
      },
      "typeVersion": 1
    },
    {
      "id": "88a3211c-4536-44f4-8ba4-c800da1031db",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2260,
        140
      ],
      "parameters": {
        "color": 6,
        "width": 760,
        "height": 820,
        "content": "- Подчеркнуть прорывные технологии, основные объявления компаний, новости о финансировании или изменения в отрасли"
      },
      "typeVersion": 1
    }
  ],
  "active": true,
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a04da0bf-2fa1-41be-9216-bae771d23a14",
  "connections": {
    "OpenAI Blog RSS1": {
      "main": [
        [
          {
            "node": "Merge All Sources1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge All Sources1": {
      "main": [
        [
          {
            "node": "Filter Recent AI Articles1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TechCrunch AI RSS1": {
      "main": [
        [
          {
            "node": "Merge All Sources1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "AI News Summarizer1": {
      "main": [
        [
          {
            "node": "Generate LinkedIn Post1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "VentureBeat AI RSS1": {
      "main": [
        [
          {
            "node": "Merge All Sources1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daily AI News Check1": {
      "main": [
        [
          {
            "node": "VentureBeat AI RSS1",
            "type": "main",
            "index": 0
          },
          {
            "node": "TechCrunch AI RSS1",
            "type": "main",
            "index": 0
          },
          {
            "node": "OpenAI Blog RSS1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Articles Exist1": {
      "main": [
        [
          {
            "node": "AI News Summarizer1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Articles Notification1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate LinkedIn Post1": {
      "main": [
        [
          {
            "node": "Send for Review1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Recent AI Articles1": {
      "main": [
        [
          {
            "node": "Prepare Articles for Summary1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Articles for Summary1": {
      "main": [
        [
          {
            "node": "Check Articles Exist1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}