Классные_n8n_воркфлоу_на_русском/ИИ/Инструмент_индикаторов_Binance_SM_1_час.json
{
  "id": "cmA9VcPQYLFfdLqE",
  "meta": {
    "instanceId": "a5283507e1917a33cc3ae615b2e7d5ad2c1e50955e6f831272ddd5ab816f3fb6"
  },
  "name": "Узел: **Агент индикаторов Binance SM 1 час**",
  "tags": [],
  "nodes": [
    {
      "id": "a6f12769-4e3c-43b7-a288-dc9ca6bbd191",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        760,
        840
      ],
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "credentials": {
        "openAiApi": {
          "id": "yUizd8t0sD5wMYVG",
          "name": "OpenAi account"
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "eec01f23-2628-4476-807f-a0a562496509",
      "name": "Simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        1000,
        840
      ],
      "parameters": {},
      "typeVersion": 1.3
    },
    {
      "id": "804c71f0-7c43-4caa-8194-dd0b9e8fe2d5",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        600,
        520
      ],
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "message"
            },
            {
              "name": "sessionId"
            }
          ]
        }
      },
      "typeVersion": 1.1
    },
    {
      "id": "551b288d-10ac-48e8-b4e1-ab36d0764b74",
      "name": "Binance SM 1hour Indicators Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        920,
        520
      ],
      "parameters": {
        "text": "={{ $json.message }}",
        "options": {
          "systemMessage": "You are the **Binance 1-Hour Technical Indicator Agent**, responsible for calculating and delivering **1-hour interval trading signals** for any Binance Spot Market trading pair. You support higher-level agents in detecting medium-term trend direction, volatility phases, and price action momentum.\n\n---\n\n### 🔗 Connected Tools (via internal workflow)\n\nYou call the following indicators using `https://treasurium.app.n8n.cloud/webhook/1h-indicators`:\n\n* **RSI** (14-period)\n* **MACD** (12/26/9 standard)\n* **Bollinger Bands** (20-period, 2×STD)\n* **SMA** (20-period)\n* **EMA** (20-period)\n* **ADX** (14-period, with DI+ and DI−)\n\n---\n\n### 📥 Expected Input Format\n\n```json\n{\n  \"message\": \"ETHUSDT\",\n  \"sessionId\": \"telegram_chat_id\"\n}\n```\n\n* `message`: A valid Binance Spot Market symbol (e.g., BTCUSDT, ADAUSDT)\n* `sessionId`: Workflow context or user ID for session memory\n\n---\n\n### 📊 Behavior\n\n* Extract `symbol` and format input for internal HTTP POST request:\n\n  ```\n  https://treasurium.app.n8n.cloud/webhook/1h-indicators\n  ```\n\n  ```json\n  {\n    \"symbol\": \"ETHUSDT\"\n  }\n  ```\n\n* Internally, fetch **40 latest 1h candles** via Binance API and calculate the indicators above.\n\n* You **merge all indicator outputs** and return them in a clean JSON array format ready for downstream reasoning or formatting.\n\n---\n\n### 🧠 Use Case Scenarios\n\n* Evaluate **1-hour trends** for swing trading alignment\n* Confirm **mid-frame structure** between 15m and 4h signals\n* Serve **Financial Analyst Tool** and **Quant AI Agent** with structured indicators\n* Support **entry/exit precision** on higher timeframes\n\n---\n\n### ⚠️ Operational Notes\n\n* Ensure enough data is returned from Binance (minimum 40 candles)\n* Validate input symbol format before execution\n* Use consistent timestamp alignment across all indicators\n* If any module fails, log the error but return valid others\n"
        },
        "promptType": "define"
      },
      "typeVersion": 1.9
    },
    {
      "id": "fb7b461e-fde3-4e9e-a1e8-e2c5e863e0fb",
      "name": "HTTP Request 1h Indicators Tool",
      "type": "n8n-nodes-base.httpRequestTool",
      "position": [
        1240,
        820
      ],
      "parameters": {
        "url": "https://treasurium.app.n8n.cloud/webhook/1h-indicators",
        "method": "POST",
        "options": {},
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "symbol",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', ``, 'string') }}"
            }
          ]
        }
      },
      "typeVersion": 4.2
    },
    {
      "id": "76059b12-d48f-46ec-87c0-bacfc6e9cb45",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        520,
        200
      ],
      "parameters": {
        "color": 4,
        "height": 500,
        "content": "## Триггер рабочего процесса"
      },
      "typeVersion": 1
    },
    {
      "id": "b090748a-f361-425e-962f-1bb36c17f6fa",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        800,
        160
      ],
      "parameters": {
        "color": 5,
        "width": 500,
        "height": 540,
        "content": "Узел: Когда выполняется другим рабочим процессом"
      },
      "typeVersion": 1
    },
    {
      "id": "af0c41e0-3e8c-4fa1-9012-a33913a71195",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        700,
        780
      ],
      "parameters": {
        "width": 220,
        "height": 520,
        "content": "Этот рабочий процесс не запускается самостоятельно — он всегда инициируется:"
      },
      "typeVersion": 1
    },
    {
      "id": "8099df6b-8407-41c0-8948-b48bc44d5126",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        940,
        780
      ],
      "parameters": {
        "color": 3,
        "width": 220,
        "height": 520,
        "content": "**Инструмент финансового аналитика Binance SM**"
      },
      "typeVersion": 1
    },
    {
      "id": "c767ae7b-0043-4c0b-9d59-44dce6fca107",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1180,
        780
      ],
      "parameters": {
        "color": 6,
        "width": 220,
        "height": 820,
        "content": "**Агент Binance Quant AI**"
      },
      "typeVersion": 1
    },
    {
      "id": "b7c581f0-c1c9-4007-8c32-62f603b719a5",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1660,
        -600
      ],
      "parameters": {
        "width": 1320,
        "height": 2820,
        "content": "## Основной агент рассуждений"
      },
      "typeVersion": 1
    }
  ],
  "active": false,
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9868a86d-7b04-4db6-8587-66e6cbdee043",
  "connections": {
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Binance SM 1hour Indicators Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Binance SM 1hour Indicators Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request 1h Indicators Tool": {
      "ai_tool": [
        [
          {
            "node": "Binance SM 1hour Indicators Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Binance SM 1hour Indicators Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}