Классные_n8n_воркфлоу_на_русском/Строительные_Блоки/Конвертация_часовых_поясов_с_интеграцией_API_TimeZoneDB.json
{
  "id": "P7c87hjmVGCrI5Hd",
  "meta": {
    "instanceId": "1777696fb9fddfee653e70940936c2b1e28ba1f1bde53b7182fbd6eb01988706"
  },
  "name": "* `toZone` (имя часового пояса IANA назначения, например, `Europe/London`)",
  "tags": [],
  "nodes": [
    {
      "id": "5b7534b7-7ad2-4f8e-9ef0-67bae5b9295b",
      "name": "Note: Webhook Input",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        880,
        80
      ],
      "parameters": {
        "width": 340,
        "height": 560,
        "content": "## Входные данные Webhook"
      },
      "typeVersion": 1
    },
    {
      "id": "25af01e7-59e7-4339-adbf-07fd1398135c",
      "name": "Note: TimeZoneDB API Call",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1280,
        160
      ],
      "parameters": {
        "color": 2,
        "width": 400,
        "height": 480,
        "content": "Этот узел слушает входящие POST-запросы. Он ожидает JSON-тело со следующими свойствами:"
      },
      "typeVersion": 1
    },
    {
      "id": "a5f0025b-1291-4e6d-ad83-90742eb69e12",
      "name": "Note: Webhook Response",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1740,
        240
      ],
      "parameters": {
        "color": 3,
        "width": 360,
        "height": 400,
        "content": "* `fromZone` (имя часового пояса IANA источника, например, `America/New_York`)"
      },
      "typeVersion": 1
    },
    {
      "id": "f5e1f969-313f-4ac0-bc53-91bb66556254",
      "name": "Receive Time Conversion Request",
      "type": "n8n-nodes-base.webhook",
      "position": [
        1000,
        480
      ],
      "webhookId": "convert-timezone-request",
      "parameters": {
        "path": "convert-timezone",
        "options": {},
        "httpMethod": "POST",
        "responseMode": "responseNode"
      },
      "typeVersion": 2
    },
    {
      "id": "f3725910-1f3f-44c8-9c54-3fd4a55ea524",
      "name": "Respond with Converted Time",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        1860,
        480
      ],
      "parameters": {
        "options": {},
        "respondWith": "allIncomingItems"
      },
      "typeVersion": 1.2
    },
    {
      "id": "202847ea-f056-455f-970c-758ce5d61e17",
      "name": "Convert Timezone (TimeZoneDB)",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1440,
        480
      ],
      "parameters": {
        "url": "=http://api.timezonedb.com/v2.1/convert-time-zone?format=json&from={{$json.body.fromZone}}&to={{$json.body.toZone}}&time={{$json.body.time}}",
        "options": {},
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth"
      },
      "credentials": {
        "httpQueryAuth": {
          "id": "RdVVfStIsheYjSeZ",
          "name": "TimeZoneDB API"
        }
      },
      "typeVersion": 4.2
    }
  ],
  "active": false,
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "05d74ef8-eb7c-442c-9786-0d40880fc9d7",
  "connections": {
    "Convert Timezone (TimeZoneDB)": {
      "main": [
        [
          {
            "node": "Respond with Converted Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Receive Time Conversion Request": {
      "main": [
        [
          {
            "node": "Convert Timezone (TimeZoneDB)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}