Классные_n8n_воркфлоу_на_русском/Социальные_Сети/Автоматизация_анализа_email-кампаний_Умные_последующие_действия_с_Bright_Data_OpenAI.json
{
  "id": "P6LeLqxzbkO3FiPE",
  "meta": {
    "instanceId": "60046904b104f0f72b2629a9d88fe9f676be4035769f1f08dad1dd38a76b9480",
    "templateCredsSetupCompleted": true
  },
  "name": "---",
  "tags": [],
  "nodes": [
    {
      "id": "75f14163-7400-49fe-aeb9-1f983dfe0c5e",
      "name": "⏰ Daily Campaign Check Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -60,
        0
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "3d85c239-8871-48ce-aecc-581a4a4be75c",
      "name": "✏️ Set Campaign Input Fields",
      "type": "n8n-nodes-base.set",
      "position": [
        160,
        0
      ],
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "04df454e-d477-4dd4-a029-2c97cfd1bf8f",
              "name": "url",
              "type": "string",
              "value": "=https://www.mailchimp.com/campaigns/123/report"
            }
          ]
        }
      },
      "typeVersion": 3.4
    },
    {
      "id": "197f6678-606d-4e9d-91b9-2ed48fe6799c",
      "name": "🤖 Agent: Scrape & Analyze Campaign Performance",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        520,
        0
      ],
      "parameters": {
        "options": {},
        "promptType": "define",
        "hasOutputParser": true
      },
      "typeVersion": 2
    },
    {
      "id": "0fa379ec-3e22-4f69-97dc-c45e244121c6",
      "name": "🧠 LLM: Summarize & Format",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        500,
        300
      ],
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "credentials": {
        "openAiApi": {
          "id": "8sEyPDkC5p4w4Jha",
          "name": "OpenAi account"
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "d1a27651-f1b3-412e-8452-563eba14c7d0",
      "name": "🌐 Bright Data MCP: Scrape Report",
      "type": "n8n-nodes-mcp.mcpClientTool",
      "position": [
        680,
        300
      ],
      "parameters": {
        "toolName": "scrape_as_markdown",
        "operation": "executeTool",
        "toolParameters": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Tool_Parameters', ``, 'json') }}"
      },
      "credentials": {
        "mcpClientApi": {
          "id": "eqq94k789oJCd6jU",
          "name": "MCP Client (STDIO) account"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "fb814c29-e412-4332-ae43-b5f8ce4f0783",
      "name": "🔎 IF: Open ≥30% & CTR <10%?",
      "type": "n8n-nodes-base.if",
      "position": [
        1100,
        0
      ],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "d5c41a60-cadf-47a6-9685-9bead865346d",
              "operator": {
                "type": "number",
                "operation": "gte"
              },
              "leftValue": "={{ $json.open_rate }}",
              "rightValue": 20
            },
            {
              "id": "7a251b0b-a122-418d-8b0c-6714ebfa6018",
              "operator": {
                "type": "number",
                "operation": "lt"
              },
              "leftValue": "={{ $json.ctr }}",
              "rightValue": 130
            }
          ]
        }
      },
      "typeVersion": 2.2
    },
    {
      "id": "b77a5854-6882-47ac-8dba-9af0bdcc0e1f",
      "name": "📧 Send Follow-Up Engagement Email",
      "type": "n8n-nodes-base.gmail",
      "position": [
        1340,
        -100
      ],
      "webhookId": "0fd0b382-f827-4262-a3de-4df28f33fb10",
      "parameters": {
        "sendTo": "shahkar.genai@gmail.com",
        "message": "Hi [First Name],  \nWe noticed you opened our recent email — thank you for staying connected! \n🙌 But we think you might have missed the best part…  \n👉 [Big Benefit or Offer — e.g., “Get 20% off your next order — today only!”]  \nWe don’t want you to miss out — just click below and grab your exclusive [deal / resource / upgrade].  \n[CTA Button: “Claim Your Offer”]  Still not sure? We’re here to help if you have any questions. Just hit reply — we love hearing from you!  Talk soon, [Your Name] [Your Company]",
        "options": {},
        "subject": "Did you miss this? Here’s something special for you!",
        "emailType": "text"
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "AQDSl75AdzK3vmqJ",
          "name": "Gmail account"
        }
      },
      "typeVersion": 2.1
    },
    {
      "id": "1259660d-e04c-4708-9319-22749360bdc3",
      "name": "🚫 Skip — No Action Needed",
      "type": "n8n-nodes-base.noOp",
      "position": [
        1340,
        100
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "id": "6e673900-d27b-4aba-be1d-8d9149fa6ceb",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -120,
        -1180
      ],
      "parameters": {
        "color": 6,
        "width": 420,
        "height": 1360,
        "content": "## 🎯 **🔹 РАЗДЕЛ 1: Расписание и подготовка входных данных**"
      },
      "typeVersion": 1
    },
    {
      "id": "d722faa7-9304-4145-9e22-f90b71b02053",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        440,
        -1300
      ],
      "parameters": {
        "color": 3,
        "width": 420,
        "height": 1480,
        "content": "### ✅ **Узлы в этом разделе**"
      },
      "typeVersion": 1
    },
    {
      "id": "031503cb-3fa4-46b6-9b57-529b10553ec2",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1060,
        -840
      ],
      "parameters": {
        "color": 5,
        "width": 420,
        "height": 1100,
        "content": "| Узел | Название                             |"
      },
      "typeVersion": 1
    },
    {
      "id": "4502ee4c-219e-4495-b4ff-c8b3beec55e8",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1560,
        -920
      ],
      "parameters": {
        "color": 7,
        "width": 380,
        "height": 240,
        "content": "| ---- | ------------------------------------ |"
      },
      "typeVersion": 1
    },
    {
      "id": "07751162-2ade-4591-93bc-a3dc2414553d",
      "name": "Sticky Note9",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1980,
        -1180
      ],
      "parameters": {
        "color": 4,
        "width": 1300,
        "height": 320,
        "content": "| ⏰    | **Триггер ежедневной проверки кампании** |"
      },
      "typeVersion": 1
    },
    {
      "id": "6c9e1f76-b6d0-4915-8f05-ada92abfcd89",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1980,
        -840
      ],
      "parameters": {
        "color": 4,
        "width": 1289,
        "height": 3118,
        "content": "# Автоматизация повторного вовлечения по электронной почте"
      },
      "typeVersion": 1
    },
    {
      "id": "237aeaf4-64f1-411b-a013-9209f46fa320",
      "name": "Auto-fixing Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserAutofixing",
      "position": [
        840,
        300
      ],
      "parameters": {
        "options": {}
      },
      "typeVersion": 1
    },
    {
      "id": "f86d1724-c0c3-4820-9699-44f2d4101054",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        800,
        560
      ],
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "credentials": {
        "openAiApi": {
          "id": "8sEyPDkC5p4w4Jha",
          "name": "OpenAi account"
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "41e646ea-effa-40c0-8513-7fecd83762ee",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        980,
        560
      ],
      "parameters": {
        "jsonSchemaExample": "{\n  \"campaign_name\": \"Summer Promo Blast\",\n  \"campaign_id\": \"123456789\",\n  \"date_sent\": \"2025-06-29\",\n  \"unique_opens\": 1230,\n  \"total_opens\": 1590,\n  \"open_rate\": 47,\n  \"unique_clicks\": 530,\n  \"total_clicks\": 670,\n  \"ctr\": 20,\n  \"soft_bounces\": 25,\n  \"hard_bounces\": 10,\n  \"bounce_rate\": 1.8,\n  \"unsubscribed\": 15,\n  \"unsubscribe_rate\": 0.6\n}\n"
      },
      "typeVersion": 1.2
    }
  ],
  "active": false,
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "226f422b-33c6-4834-8653-5f7a501d9955",
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Auto-fixing Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Auto-fixing Output Parser",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Auto-fixing Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "🤖 Agent: Scrape & Analyze Campaign Performance",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "🧠 LLM: Summarize & Format": {
      "ai_languageModel": [
        [
          {
            "node": "🤖 Agent: Scrape & Analyze Campaign Performance",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "⏰ Daily Campaign Check Trigger": {
      "main": [
        [
          {
            "node": "✏️ Set Campaign Input Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "✏️ Set Campaign Input Fields": {
      "main": [
        [
          {
            "node": "🤖 Agent: Scrape & Analyze Campaign Performance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔎 IF: Open ≥30% & CTR <10%?": {
      "main": [
        [
          {
            "node": "📧 Send Follow-Up Engagement Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🚫 Skip — No Action Needed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🌐 Bright Data MCP: Scrape Report": {
      "ai_tool": [
        [
          {
            "node": "🤖 Agent: Scrape & Analyze Campaign Performance",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "🤖 Agent: Scrape & Analyze Campaign Performance": {
      "main": [
        [
          {
            "node": "🔎 IF: Open ≥30% & CTR <10%?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}