Классные_n8n_воркфлоу_на_русском/Маркетинг/Generate_Product_Ad_Copy_CTAs_with_GPT-4_for_Slack_and_Airtable.json
{
  "meta": {
    "instanceId": "5aaf4236c70e34e423fbdb2c7b754d19253a933bb1476d548f75848a01e473cf",
    "templateCredsSetupCompleted": true
  },
  "nodes": [
    {
      "id": "a8a6738c-9269-427d-821c-9793db821d88",
      "name": "Generate Ad Copy and CTAs",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        1180,
        3040
      ],
      "parameters": {
        "text": "=Generate a catchy 2-sentence ad copy and 3 strong CTAs for the following product.\n\nProduct Name: {{ $json['Product Name'] }}\nFeatures: {{ $json['Product Features'] }}",
        "options": {},
        "promptType": "define",
        "hasOutputParser": true
      },
      "typeVersion": 1.9
    },
    {
      "id": "bc9d40c0-758a-490b-9c29-67c901c681c7",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        1120,
        3260
      ],
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "typeVersion": 1.2
    },
    {
      "id": "0b3e78c5-a59f-4eaa-8f10-c5110b64d6e6",
      "name": "Slack",
      "type": "n8n-nodes-base.slack",
      "position": [
        1760,
        2940
      ],
      "webhookId": "becca932-88e0-45d2-a72a-3ce2c7cb4f2b",
      "parameters": {
        "text": "=Ad copy: \n{{ $json.output.ad_copy }}\n\nCTAs: \n{{ $json.output.ctas }}",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "list",
          "value": "C08TTV0CC3E",
          "cachedResultName": "all-nathing"
        },
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "typeVersion": 2.3
    },
    {
      "id": "28bc17c8-1d47-4769-bd2b-38eadf33ad5f",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        1360,
        3260
      ],
      "parameters": {
        "jsonSchemaExample": "{\n  \"ad_copy\": \"Stay refreshed and eco-friendly with the EcoSmart Bottle—your self-cleaning hydration companion that keeps drinks ice-cold for a full 24 hours! Join the movement towards a healthier planet with every sip!\",\n  \"ctas\":\n    \"Get Yours Now and Sip Sustainability!\"\n}"
      },
      "typeVersion": 1.2
    },
    {
      "id": "9ee0cf4b-fa21-46bb-b64f-834da2762fdb",
      "name": "Airtable",
      "type": "n8n-nodes-base.airtable",
      "position": [
        1760,
        3240
      ],
      "parameters": {
        "base": {
          "__rl": true,
          "mode": "list",
          "value": "appjaqV0O7FkXT2qj",
          "cachedResultUrl": "https://airtable.com/appjaqV0O7FkXT2qj",
          "cachedResultName": "Table no.1"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "tblTAvRqVFOo5AVDF",
          "cachedResultUrl": "https://airtable.com/appjaqV0O7FkXT2qj/tblTAvRqVFOo5AVDF",
          "cachedResultName": "Table 1"
        },
        "columns": {
          "value": {
            "CATs": "={{ $json.output.ctas }}",
            "Ad copy": "={{ $json.output.ad_copy }}",
            "Product Name": "={{ $('Product Info Input').item.json['Product Name'] }}",
            "Product Features": "={{ $('Product Info Input').item.json['Product Features'] }}"
          },
          "schema": [
            {
              "id": "id",
              "type": "string",
              "display": true,
              "removed": true,
              "readOnly": true,
              "required": false,
              "displayName": "id",
              "defaultMatch": true
            },
            {
              "id": "Product Name",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Product Name",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Product Features",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Product Features",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Ad copy",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Ad copy",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "CATs",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "CATs",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {},
        "operation": "update"
      },
      "typeVersion": 2.1
    },
    {
      "id": "2c548ce7-c10b-47dd-b07d-4f2cc8f48881",
      "name": "Product Info Input",
      "type": "n8n-nodes-base.formTrigger",
      "position": [
        960,
        3040
      ],
      "webhookId": "70c94b37-904c-4e87-bca8-808cff7840de",
      "parameters": {
        "options": {},
        "formTitle": "Product Info",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Product Name"
            },
            {
              "fieldLabel": "Product Features"
            }
          ]
        }
      },
      "typeVersion": 2.2
    },
    {
      "id": "3fb03bf6-7a54-4aad-afe5-4d4ebee70cda",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -740,
        3280
      ],
      "parameters": {
        "color": 4,
        "width": 1289,
        "height": 2078,
        "content": "## ✍️ Агент по написанию текстов на основе ИИ – от информации о продукте до рекламных текстов + CTA"
      },
      "typeVersion": 1
    },
    {
      "id": "938469cb-f289-4796-9e36-cb7a393edc23",
      "name": "Sticky Note9",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -740,
        2940
      ],
      "parameters": {
        "color": 4,
        "width": 1300,
        "height": 320,
        "content": "Мгновенно генерируйте рекламные тексты и призывы к действию с помощью GPT на основе деталей продукта. Идеально для:"
      },
      "typeVersion": 1
    },
    {
      "id": "ce22eac5-dc26-41ec-bc63-2dbc648335aa",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        900,
        2540
      ],
      "parameters": {
        "width": 620,
        "height": 880,
        "content": "✅ Маркетологов — создавайте привлекательный рекламный контент за считанные секунды"
      },
      "typeVersion": 1
    },
    {
      "id": "c8efbf29-0a40-4096-9db8-92ce16ded9c0",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1560,
        2020
      ],
      "parameters": {
        "color": 6,
        "width": 620,
        "height": 1400,
        "content": "✅ Основателей — быстро тестируйте несколько углов копирования"
      },
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Generate Ad Copy and CTAs",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Product Info Input": {
      "main": [
        [
          {
            "node": "Generate Ad Copy and CTAs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Generate Ad Copy and CTAs",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Generate Ad Copy and CTAs": {
      "main": [
        [
          {
            "node": "Airtable",
            "type": "main",
            "index": 0
          },
          {
            "node": "Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}