Классные_n8n_воркфлоу_на_русском/Маркетинг/Поиск_местных_событий_с_поддержкой_AI_с_многофункциональным_поиском.json
{
  "id": "jzyBdgtZyvqzRcus",
  "meta": {
    "instanceId": "3612a0c89f35a354ddd1216385240db51b4635fde7cae2a0d5004be915b832f3",
    "templateCredsSetupCompleted": true
  },
  "name": "## ➡️ find_events (Узел рабочего процесса инструмента)",
  "tags": [],
  "nodes": [
    {
      "id": "3896a94e-9d40-4bb7-a333-cce2bae94e33",
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "position": [
        -40,
        1560
      ],
      "parameters": {
        "options": {},
        "modelName": "models/gemini-2.5-flash-preview-05-20"
      },
      "credentials": {
        "googlePalmApi": {
          "id": "c8jj7D6oz6RJ81qp",
          "name": "Google Gemini Context7"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "15dba0b1-3f9b-4ed4-9efe-f8be50da710b",
      "name": "Simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        820,
        1620
      ],
      "parameters": {
        "sessionKey": "={{ $execution.id }}",
        "sessionIdType": "customKey"
      },
      "typeVersion": 1.3
    },
    {
      "id": "83c73d4e-f4ae-4618-9ab4-0bcc05339395",
      "name": "brave_web_search",
      "type": "n8n-nodes-mcp.mcpClientTool",
      "position": [
        1160,
        1300
      ],
      "parameters": {
        "toolName": "brave_web_search",
        "operation": "executeTool",
        "connectionType": "http",
        "toolParameters": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Tool_Parameters', `Generate a JSON object with the parameters for the 'brave_web_search' tool.\nThe tool expects a JSON object with the following keys:\n- \"query\": (string, **required**) The search terms for the web search.\n- \"count\": (number, optional) The number of results to return per page. Maximum is 20. If not provided, a default value will be used by the service.\n- \"offset\": (number, optional) The pagination offset to retrieve a specific page of results. Maximum is 9. If not provided, the first page is returned.\n\nExample (required only):\n{\"query\": \"latest AI research\"}\n\nExample (with optionals):\n{\"query\": \"popular javascript frameworks\", \"count\": 10, \"offset\": 0}`, 'json') }}",
        "descriptionType": "manual",
        "toolDescription": "Performs a general web search using Brave Search. Ideal for finding event listings, articles, official event websites, or when a broader search beyond a specific immediate locality is necessary. Use for queries like 'music festivals [country] [month]' or 'tech conferences [year]'. Parameters: 'query' (required string), 'count' (optional number, max 20), 'offset' (optional number, max 9 for pagination)."
      },
      "credentials": {
        "mcpClientHttpApi": {
          "id": "izP58157WoLmqx5y",
          "name": "smithery brave search"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "8ba5272c-d95b-48e3-b48d-0f6bedcdad5c",
      "name": "brave_local_search",
      "type": "n8n-nodes-mcp.mcpClientTool",
      "position": [
        1720,
        1300
      ],
      "parameters": {
        "toolName": "brave_local_search",
        "operation": "executeTool",
        "connectionType": "http",
        "toolParameters": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Tool_Parameters', `Generate a JSON object with the parameters for the 'brave_local_search' tool.\nThe tool expects a JSON object with the following keys:\n- \"query\": (string, **required**) The search terms for the local search (e.g., \"coffee shop downtown\", \"bookstore [zip code]\").\n- \"count\": (number, optional) The number of local results to return. Maximum is 20. If not provided, a default value will be used by the service.\n\nExample (required only):\n{\"query\": \"restaurants near Eiffel Tower\"}\n\nExample (with optional count):\n{\"query\": \"best parks in Berlin\", \"count\": 5}\n\nNote: This tool does not support an 'offset' parameter for pagination. It may fall back to web search if no local results are found.`, 'json') }}",
        "descriptionType": "manual",
        "toolDescription": "Searches for local events, venues, and points of interest using Brave Local Search. Best for queries targeting a specific city or area, like 'live music in [City Name] this weekend' or 'art workshops near [Address/Zip Code]'. May fall back to a general web search if no specific local results are found. Parameters: 'query' (required string), 'count' (optional number, max 20)."
      },
      "credentials": {
        "mcpClientHttpApi": {
          "id": "izP58157WoLmqx5y",
          "name": "smithery brave search"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "9be2f212-43d9-4e31-a090-3b3e44195291",
      "name": "find_events",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "position": [
        -60,
        320
      ],
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": "jzyBdgtZyvqzRcus",
          "cachedResultName": "Local Event Finder"
        },
        "description": "=Этот инструмент инициирует детальный поиск местных событий. Он собирает конкретные требования пользователя, такие как тип события, предпочтительный город и страна, желаемый диапазон дат и связанные интересы. Эти данные затем передаются во внутренний рабочий процесс для поиска и возврата информации о совпадающих событиях.",
        "workflowInputs": {
          "value": {
            "city": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('city', `The primary city where the user wishes to find events. This should be a specific city name. Examples: 'Perth', 'Berlin', 'Tokyo'.`, 'string') }}",
            "query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('query', `A specific search phrase or natural language description detailing the event(s) the user is looking for. Examples: 'outdoor jazz concerts', 'weekend food and wine festivals', 'mountain biking and craft beer gatherings'.`, 'string') }}",
            "country": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('country', `The country corresponding to the specified city, to help narrow the search geographically. Examples: 'Australia', 'Germany', 'Japan'.`, 'string') }}",
            "interests": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('interests', `A comma-separated list of user interests or keywords that help further refine the event search, complementing the main 'query'. Examples: 'live music, craft beer, hiking', 'technology, AI, startups', 'family activities, educational, outdoor'.`, 'string') }}",
            "date-range": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('date-range', `The desired timeframe for the events. This can be specific (e.g., 'July 15-20, 2025'), general (e.g., 'July 2025', 'next weekend'), or a season (e.g., 'Summer 2025'). The more specific, the better.`, 'string') }}"
          },
          "schema": [
            {
              "id": "query",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "query",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "city",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "city",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "country",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "country",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "date-range",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "date-range",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "interests",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "interests",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "typeVersion": 2.2
    },
    {
      "id": "c1becac0-c6a1-4a2f-be3b-c69b7cb5a69a",
      "name": "even_finder_workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -500,
        1180
      ],
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "query"
            },
            {
              "name": "city"
            },
            {
              "name": "country"
            },
            {
              "name": "date-range"
            },
            {
              "name": "interests"
            }
          ]
        }
      },
      "typeVersion": 1.1
    },
    {
      "id": "fbec2433-db9a-43db-b143-551c624ee085",
      "name": "event_finder_agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        240,
        1180
      ],
      "parameters": {
        "text": "=Find relevant events based on the provided user profile and preferences.",
        "options": {
          "systemMessage": "=You are a specialized Local Event Finder assistant. Your mission is to discover relevant events tailored to user preferences and present them in a clear, engaging markdown format.\n\n**User Preferences to Consider:**\n*   **Query:** {{ $('even_finder_workflow').item.json.query }}\n*   **City:** {{ $('even_finder_workflow').item.json.city }}\n*   **Country:** {{ $('even_finder_workflow').item.json.country }}\n*   **Date Range:** {{ $('even_finder_workflow').item.json.date-range }}\n*   **Interests:** {{ $('even_finder_workflow').item.json.interests }}\n\n**Your Operational Protocol:**\n\n1.  **Event Discovery Goal:**\n    *   Identify 1 to 5 events that closely match all provided user criteria.\n    *   Focus on quality and relevance over quantity.\n\n2.  **Location Search Strategy:**\n    *   **Primary Focus:** The specified `City`.\n    *   **Secondary Search:** If results are sparse, expand to nearby cities or statewide within the `Country`.\n    *   **Tertiary Search (Optional):** For exceptionally fitting events based on interests, consider the nearest capital city or other major capital cities in the `Country`.\n\n3.  **Tool Usage Guidelines:**\n    *   **`brave_local_search`**: Use this first for precise, location-based queries (e.g., \"live music in {{ $('even_finder_workflow').item.json.city }} this weekend\").\n    *   **`brave_web_search`**: Employ for broader event searches, finding event listings, or if local search is insufficient (e.g., \"mountain biking events {{ $('even_finder_workflow').item.json.country }} in {{ $('even_finder_workflow').item.json.date-range }}\").\n    *   **`google_gemini_event_search`**: Utilize for more complex queries, combining multiple interests, or as a powerful alternative if other searches are not fruitful. This tool can help synthesize information and understand nuanced requests.\n    *   **`jina_ai_web_page_scraper`**: After identifying promising event URLs from search results, use this tool to extract detailed information directly from the event pages.\n        *   **Critical Usage Note:** Due to a 60-second MCP server timeout (as of June 2025), use `jina_ai_web_page_scraper` very selectively. Scrape a maximum of 1-2 essential URLs per event discovery session to avoid timeouts. Prioritize official event pages.\n\n4.  **Information Extraction per Event:**\n    For each recommended event, strive to find and include:\n    *   Event Name\n    *   Date(s) and Time(s)\n    *   Full Location Address/Venue Name\n    *   A concise and engaging Description\n    *   Official Event Link (highly preferred)\n    *   Booking/Ticket Link (if available and distinct from the event link)\n\n5.  **Response Formatting:**\n    *   Present your findings in well-structured markdown.\n    *   Use headings (e.g., `##`), bullet points (`*`), bolding (`**text**`), and relevant emojis to enhance readability and visual appeal.\n    *   Clearly separate information for each event.\n\n6.  **Handling No Results:**\n    *   If, after a thorough search (including expanded location criteria), no suitable events are found, clearly and politely inform the user.\n\n**Example Structure for a Single Event in Your Response:**\n\n---\n🎉 **[Event Name]** 🎉\n*   **📅 Date & Time:** [Event Date(s)], [Event Time(s)]\n*   **📍 Location:** [Venue Name, Full Address, City]\n*   **📝 Description:** [A brief, enticing summary of what the event offers and how it matches user interests.]\n*   **🔗 Event Link:** [Link to Official Event Page]\n*   **🎟️ Booking Link:** [Link to Booking/Tickets, if available]\n---\n\nPrioritize accuracy, relevance, and the direct usability of the information provided. Ensure any links are functional."
        },
        "promptType": "define"
      },
      "typeVersion": 2
    },
    {
      "id": "2cb94f37-21fc-48d7-8661-3d3270bae356",
      "name": "local_event_finder",
      "type": "@n8n/n8n-nodes-langchain.mcpTrigger",
      "position": [
        -220,
        -80
      ],
      "webhookId": "0ca88864-ec0a-4c27-a7ec-e28c5a900697",
      "parameters": {
        "path": "0ca88864-ec0a-4c27-a7ec-e28c5a900697"
      },
      "typeVersion": 1
    },
    {
      "id": "a8afc19d-8394-4e4d-bd6a-047e665b5a68",
      "name": "google_gemini_event_search",
      "type": "n8n-nodes-gemini-search.geminiSearchToolTool",
      "position": [
        2300,
        1300
      ],
      "parameters": {
        "model": "gemini-2.5-flash-preview-05-20",
        "query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query', `Formulate a concise and effective search query for finding events. Combine the user's primary query, interests, desired location (city/country), and date range. Focus on keywords that an advanced search engine like Gemini can use to find specific event listings or relevant information. Example: \"family-friendly music festivals Perth Australia July 2025\" or \"tech conferences with AI workshops Berlin next quarter\".`, 'string') }}",
        "options": {
          "extractSourceUrl": true
        },
        "organization": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Organization_Context', `(Optional) Provide any specific organizational context that might help refine the event search. This could relate to the type of organizations hosting the events (e.g., 'community groups', 'official city event organizers', 'universities') or a broader theme. Only use if a specific context is likely to improve results, otherwise leave blank or provide a general statement like 'public events'.`, 'string') }}",
        "restrictUrls": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Restrict_Search_to_URLs', `(Optional) Provide a comma-separated list of specific website URLs if the search should be restricted to known, trusted sources (e.g., official tourism sites, major event listing platforms for the region). Use this sparingly and only when confident that the desired events are likely to be found on those specific sites. Example: 'cityofperth.events.wa.gov.au, eventbrite.com.au'. Leave blank to search the broader web.`, 'string') }}",
        "toolDescription": "Leverages Google's Gemini model for advanced, context-aware event searching. Use this for complex queries, combining multiple interests (e.g., 'family-friendly outdoor art festivals in [Region] during [Month] with accessibility options'), or when other search tools need a more nuanced understanding. Can extract source URLs. Key Parameters: 'query' (string), 'organization' (string, for context), 'restrictUrls' (string, for specific sites)."
      },
      "credentials": {
        "geminiSearchApi": {
          "id": "grHOyabfaEb2A17I",
          "name": "Gemini Credentials account"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "5f733091-c9b0-4dd8-90f0-9eee8af122dd",
      "name": "jina_ai_web_page_scraper",
      "type": "n8n-nodes-base.jinaAiTool",
      "position": [
        2880,
        1300
      ],
      "parameters": {
        "url": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('URL', `Provide the full, direct URL of a web page that contains detailed information about a specific event. This URL should ideally be an official event page or a highly relevant listing page that was identified by a previous search step (e.g., from brave_web_search or google_gemini_event_search). Ensure the URL is valid and points to the content you want to extract. Example: 'https://example.com/events/specific-event-details'. Remember to use this tool sparingly (max 1-2 URLs per workflow run) due to potential timeouts.`, 'string') }}",
        "options": {
          "outputFormat": "markdown",
          "enableImageCaptioning": true
        },
        "requestOptions": {},
        "descriptionType": "manual",
        "toolDescription": "Extracts and summarizes the main textual content from a given web page URL, returning it in markdown format. Use this to get detailed information (like descriptions, schedules, specific features) from event pages identified by search tools. Parameter: 'url' (required string). Critical: Use sparingly (1-2 URLs max) due to execution time limits."
      },
      "credentials": {
        "jinaAiApi": {
          "id": "Ds8w0d9HhKCi6twc",
          "name": "Jina AI account"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "48198d3f-6c86-4b95-a0f2-a04eac3d8c36",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        860,
        -900
      ],
      "parameters": {
        "color": 7,
        "width": 760,
        "height": 320,
        "content": "## 📞 Конфигурация клиента MCP"
      },
      "typeVersion": 1
    },
    {
      "id": "50d4814b-eee3-46be-bdc5-2d730872b34d",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -860,
        -320
      ],
      "parameters": {
        "color": 4,
        "width": 840,
        "height": 320,
        "content": "Внешние клиенты (такие как другие рабочие процессы n8n, Roo Code или Cline) настраивают этого агента как инструмент."
      },
      "typeVersion": 1
    },
    {
      "id": "71e54414-aa7c-4cab-b537-257ff762108f",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -860,
        60
      ],
      "parameters": {
        "color": 4,
        "width": 840,
        "height": 320,
        "content": "**Пример конфигурации клиентского инструмента (например, для Roo Code/Cline):**"
      },
      "typeVersion": 1
    },
    {
      "id": "e6b00332-ce68-4fce-8238-52e19c746445",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        860,
        -520
      ],
      "parameters": {
        "color": 7,
        "width": 760,
        "height": 320,
        "content": "```json"
      },
      "typeVersion": 1
    },
    {
      "id": "b87c9502-1805-435f-a922-e932dcdc11e7",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1680,
        -1200
      ],
      "parameters": {
        "color": 3,
        "width": 740,
        "height": 240,
        "content": "\"local-event-finder\": {"
      },
      "typeVersion": 1
    },
    {
      "id": "8974efe8-c3d2-43f4-a340-ee346ce08548",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2480,
        -80
      ],
      "parameters": {
        "color": 2,
        "width": 740,
        "height": 420,
        "content": "\"url\": \"https://ВАШ-ХОСТ-MCP/mcp/ВАШ-ПУТЬ-СЕРВЕРА-MCP/sse\","
      },
      "typeVersion": 1
    },
    {
      "id": "f2b540c4-faff-41cc-be53-d0c885a52946",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -740,
        720
      ],
      "parameters": {
        "color": 4,
        "width": 640,
        "height": 520,
        "content": "\"alwaysAllow\": ["
      },
      "typeVersion": 1
    },
    {
      "id": "3b2922cd-8fbb-4f1f-95e9-4a48dc07718a",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        20,
        720
      ],
      "parameters": {
        "color": 4,
        "width": 740,
        "height": 520,
        "content": "\"find_events\""
      },
      "typeVersion": 1
    },
    {
      "id": "dbf29f77-6557-42aa-831b-3ad5590bb301",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        260,
        1660
      ],
      "parameters": {
        "color": 6,
        "width": 620,
        "height": 300,
        "content": "],"
      },
      "typeVersion": 1
    },
    {
      "id": "5d5143db-87d2-449c-9460-32f7d465410b",
      "name": "Sticky Note9",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        960,
        720
      ],
      "parameters": {
        "color": 5,
        "width": 460,
        "height": 620,
        "content": "\"timeout\": 3600"
      },
      "typeVersion": 1
    },
    {
      "id": "d943edef-7382-4b1b-b848-c923c99cc72b",
      "name": "Sticky Note10",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1540,
        720
      ],
      "parameters": {
        "color": 5,
        "width": 460,
        "height": 620,
        "content": "}"
      },
      "typeVersion": 1
    },
    {
      "id": "bde5341b-3a99-48c9-a43d-9ebcc5172f14",
      "name": "Sticky Note11",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2120,
        720
      ],
      "parameters": {
        "color": 5,
        "width": 460,
        "height": 620,
        "content": "## 📡 local_event_finder (Триггер сервера MCP)"
      },
      "typeVersion": 1
    },
    {
      "id": "a7c340dd-efac-415c-a922-f3ef457cb072",
      "name": "Sticky Note12",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2700,
        720
      ],
      "parameters": {
        "color": 5,
        "width": 460,
        "height": 620,
        "content": "🚪 **Точка входа для внешних вызовов**"
      },
      "typeVersion": 1
    },
    {
      "id": "2f1944ad-f803-4712-94a1-5ec902e7def4",
      "name": "Sticky Note13",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1680,
        -900
      ],
      "parameters": {
        "color": 2,
        "width": 740,
        "height": 360,
        "content": "*   **Цель:** Принимает запросы от внешних клиентов для использования агента \"Поиск местных событий\"."
      },
      "typeVersion": 1
    },
    {
      "id": "934c840a-f8b6-416a-a5a8-68b724f27687",
      "name": "Sticky Note14",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1680,
        -500
      ],
      "parameters": {
        "color": 2,
        "width": 740,
        "height": 440,
        "content": "*   **Функция:** Слушает HTTP POST запросы, отформатированные для MCP."
      },
      "typeVersion": 1
    },
    {
      "id": "96746f76-936e-467b-94f7-7b2fe32728a9",
      "name": "Sticky Note15",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -720,
        1600
      ],
      "parameters": {
        "color": 6,
        "width": 740,
        "height": 220,
        "content": "*   **Открытый инструмент:** Открывает возможность использования инструмента `find_events`."
      },
      "typeVersion": 1
    },
    {
      "id": "338692d0-096a-42b8-a7bc-4ee897b251a2",
      "name": "Sticky Note16",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2480,
        -900
      ],
      "parameters": {
        "color": 2,
        "width": 740,
        "height": 360,
        "content": "*   **Типичный ввод:** JSON-данные, содержащие `tool_name: \"find_events\"` и `tool_input` (с запросом, городом и т. д.)."
      },
      "typeVersion": 1
    },
    {
      "id": "7e276d1e-6746-4133-8dcd-cf886c0d3199",
      "name": "Sticky Note17",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2480,
        -500
      ],
      "parameters": {
        "color": 2,
        "width": 740,
        "height": 360,
        "content": "*   **Типичный вывод:** Передает `tool_input` в `find_events` (Рабочий процесс инструмента) нет"
      },
      "typeVersion": 1
    }
  ],
  "active": true,
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9598b47f-389a-4d1c-b46e-f87a066b416e",
  "connections": {
    "find_events": {
      "ai_tool": [
        [
          {
            "node": "local_event_finder",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "event_finder_agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "brave_web_search": {
      "ai_tool": [
        [
          {
            "node": "event_finder_agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "brave_local_search": {
      "ai_tool": [
        [
          {
            "node": "event_finder_agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "even_finder_workflow": {
      "main": [
        [
          {
            "node": "event_finder_agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "event_finder_agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "jina_ai_web_page_scraper": {
      "ai_tool": [
        [
          {
            "node": "event_finder_agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "google_gemini_event_search": {
      "ai_tool": [
        [
          {
            "node": "event_finder_agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  }
}