Классные_n8n_воркфлоу_на_русском/Воспитание_Лидов/Восстановите_истекшие_объявления_о_недвижимости_с_помощью_OpenAI_и_последующих_действий_в_Gmail.json
{
  "id": "mGgu1ixSHq7uKR9J",
  "meta": {
    "instanceId": "a287613f1596da776459594685fbf4e2b4a12124f80ab8c8772f5e37bff103ae",
    "templateCredsSetupCompleted": true
  },
  "name": "Имя владельца: {{$json[\"owner_name\"]}}",
  "tags": [],
  "nodes": [
    {
      "id": "fe1a3344-0363-463c-8312-8b382f7e6193",
      "name": "Get Listings",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        220,
        -280
      ],
      "parameters": {
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4Y2ksdr35dFDo0rB",
          "name": "maranata"
        }
      },
      "typeVersion": 4
    },
    {
      "id": "f9b43706-6ba4-4c7a-bda7-7b27296f151e",
      "name": "Check >30 Days",
      "type": "n8n-nodes-base.if",
      "position": [
        440,
        -280
      ],
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ Date.now() - new Date($json[\"last_activity\"]).getTime() }}",
              "value2": 2592000000,
              "operation": ">"
            }
          ]
        }
      },
      "typeVersion": 1
    },
    {
      "id": "ef1ad425-d92d-433b-b147-178f61b1baf4",
      "name": "Send Email",
      "type": "n8n-nodes-base.gmail",
      "position": [
        1040,
        -280
      ],
      "parameters": {
        "message": "=Hi {{$json[\"owner_name\"]}},\n\nJust a quick heads-up—your property listing titled \"{{$json[\"title\"]}}\" located in {{$json[\"location\"]}} is about to expire.\n\nSince it was last active on {{$json[\"last_activity\"]}}, there have been some exciting shifts in the market. There may be renewed buyer interest or opportunities we can capitalize on.\n\nIf you're still interested in selling your {{$json[\"property_type\"]}}, I’d be happy to help you relist it and get it in front of the right audience.\n\nWould you like me to reactivate the listing for you this week?\n\nBest,  \n[Your Name]  \nReal Estate Specialist  \n",
        "subject": "Your Property Listing Is About to Expire",
        "additionalFields": {}
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "QFfaHpKmgq4YPiRN",
          "name": "Temp"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "978b3493-385d-453b-a59a-fbcfa84c5bfe",
      "name": "OpenAI",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        660,
        -280
      ],
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "options": {},
        "messages": {
          "values": [
            {
              "content": "=Вы помощник, помогающий агенту по недвижимости повторно привлечь внимание к истекшим объявлениям о недвижимости."
            }
          ]
        }
      },
      "credentials": {
        "openAiApi": {
          "id": "WbMi3ZLLBnECFAAV",
          "name": "Temp"
        }
      },
      "typeVersion": 1.8
    },
    {
      "id": "38f7ff60-f96b-43a2-aeae-bfa263c35907",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        0,
        -280
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "daysInterval": 30
            }
          ]
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "35180652-0e96-4812-8d19-1b25284d0075",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -60,
        -60
      ],
      "parameters": {
        "width": 780,
        "height": 1180,
        "content": "Сгенерируйте персонализированное письмо для последующего контакта с владельцем недвижимости на основе следующих данных:"
      },
      "typeVersion": 1
    },
    {
      "id": "5a14b90b-8333-4939-945b-3b597dbee549",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -60,
        -340
      ],
      "parameters": {
        "color": 3,
        "width": 1300,
        "height": 240,
        "content": "Название недвижимости: {{$json[\"title\"]}}"
      },
      "typeVersion": 1
    }
  ],
  "active": false,
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2359e81b-2266-47ee-8aff-daf8f21491c4",
  "connections": {
    "OpenAI": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Listings": {
      "main": [
        [
          {
            "node": "Check >30 Days",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check >30 Days": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Listings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}