Классные_n8n_воркфлоу_на_русском/Маркетинговые_Исследования/Ежедневное_извлечение_данных_с_веб-сайта_с_Firecrawl_и_уведомлениями_в_Telegram.json
{
  "id": "B8QZbtbhTEZne8nq",
  "meta": {
    "instanceId": "1c7b08fed4406d546caf4a44e8b942ca317e7e207bb9a5701955a1a6e1ce1843",
    "templateCredsSetupCompleted": true
  },
  "name": "🧰 Что делает этот рабочий процесс: Этот рабочий процесс автоматически извлекает определенные структурированные данные с любой веб-страницы каждый день в запланированное время с использованием API Firecrawl, проверяет, возвращаются ли результаты, а затем отправляет отформатированные результаты в Telegram.",
  "tags": [],
  "nodes": [
    {
      "id": "d456e62d-f6ce-47c4-9be1-a3b3725e340f",
      "name": "Extract",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -480,
        -100
      ],
      "parameters": {
        "url": "https://api.firecrawl.dev/v1/extract",
        "method": "POST",
        "options": {},
        "jsonBody": "={\n  \"urls\": [\n    \"https://www.website.com\"\n  ],\n  \"prompt\": \"Extract the [insert] information from the page\",\n  \"schema\": {\n    \"type\": \"object\",\n    \"properties\": {\n      \"notable_trades\": {\n        \"type\": \"array\",\n        \"items\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"congress_member_name\": {\n              \"type\": \"string\"\n            },\n            \"party\": {\n              \"type\": \"string\"\n            },\n            \"stock_or_asset\": {\n              \"type\": \"string\"\n            },\n            \"amount\": {\n              \"type\": \"number\"\n            },\n            \"transaction_date\": {\n              \"type\": \"string\"\n            }\n          },\n          \"required\": [\n            \"congress_member_name\",\n            \"stock_or_asset\",\n            \"amount\",\n            \"transaction_date\"\n          ]\n        }\n      }\n    },\n    \"required\": [\n      \"notable_trades\"\n    ]\n  }\n}\n",
        "sendBody": true,
        "specifyBody": "json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth"
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "",
          "name": ""
        }
      },
      "typeVersion": 4.2
    },
    {
      "id": "758d7a3f-555d-4957-bf92-d24b6ab018e8",
      "name": "Get Results",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        40,
        -120
      ],
      "parameters": {
        "url": "=https://api.firecrawl.dev/v1/extract/{{ $('Extract').item.json.id }}",
        "options": {},
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth"
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "",
          "name": ""
        }
      },
      "typeVersion": 4.2
    },
    {
      "id": "9ded421d-cde6-4c6d-9ebc-3315ee79d30e",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "position": [
        500,
        -120
      ],
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "4188c94f-170b-4f42-8197-675f171bc1a5",
              "name": "data",
              "type": "string",
              "value": "={{ $json.trades }}"
            }
          ]
        },
        "includeOtherFields": true
      },
      "typeVersion": 3.4
    },
    {
      "id": "9b799432-7fa5-4fa4-a960-fe03b8882263",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -740,
        -100
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 18
            }
          ]
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "505faec2-734d-40ac-a832-1a926a77f520",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "position": [
        220,
        -120
      ],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "or",
          "conditions": [
            {
              "id": "6d815b2e-1717-4d52-a30d-74e17a84f0f3",
              "operator": {
                "type": "array",
                "operation": "empty",
                "singleValue": true
              },
              "leftValue": "={{ $json.trades }}",
              "rightValue": "[empty array]"
            }
          ]
        }
      },
      "typeVersion": 2.2
    },
    {
      "id": "f8ff331e-363b-42eb-9472-e397b3d56691",
      "name": "30 Secs",
      "type": "n8n-nodes-base.wait",
      "position": [
        -200,
        -100
      ],
      "webhookId": "282bb09d-3241-4022-87fa-0b342ccd124a",
      "parameters": {
        "amount": 30
      },
      "typeVersion": 1.1
    },
    {
      "id": "e9bd3c21-8a89-424f-9a6e-4d00d6fd87ae",
      "name": "Wait 15 secs",
      "type": "n8n-nodes-base.wait",
      "position": [
        280,
        40
      ],
      "webhookId": "4d1cade1-aa5f-44ab-a65c-ac3693f4cf4a",
      "parameters": {
        "amount": 15
      },
      "typeVersion": 1.1
    },
    {
      "id": "aae6f1ba-e4d4-4545-95cc-71f40e690b9b",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -560,
        -260
      ],
      "parameters": {
        "color": 3,
        "width": 280,
        "height": 520,
        "content": "Пост Firecrawl Extract"
      },
      "typeVersion": 1
    },
    {
      "id": "29b3688f-0fb0-486c-89cd-550a59299225",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -840,
        -260
      ],
      "parameters": {
        "width": 260,
        "height": 520,
        "content": "Запланированный триггер"
      },
      "typeVersion": 1
    },
    {
      "id": "ac14b7cf-48ad-4029-a173-331b2d2ad1c6",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -260,
        -260
      ],
      "parameters": {
        "color": 7,
        "width": 220,
        "height": 520,
        "content": "Подождите 30 секунд"
      },
      "typeVersion": 1
    },
    {
      "id": "34cea142-3592-439d-9238-a25e4c4e7cc1",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -20,
        -260
      ],
      "parameters": {
        "color": 5,
        "width": 480,
        "height": 520,
        "content": "Цикл получения результата"
      },
      "typeVersion": 1
    },
    {
      "id": "f8c71a46-4b99-4079-b895-63e7a5811dcd",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        480,
        -260
      ],
      "parameters": {
        "color": 5,
        "width": 400,
        "height": 520,
        "content": "Отправить результат в Telegram"
      },
      "typeVersion": 1
    },
    {
      "id": "4ea94358-34cd-421e-ad57-5277dbe03aee",
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "position": [
        660,
        -120
      ],
      "webhookId": "cee700e9-03aa-484e-b2fb-06dd7abef48f",
      "parameters": {
        "text": "={{ $json.data }}",
        "chatId": "Redacted",
        "additionalFields": {}
      },
      "credentials": {
        "telegramApi": {
          "id": "",
          "name": ""
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "7653b3ac-3210-4c89-a2ff-70034c2f4560",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1600,
        -260
      ],
      "parameters": {
        "color": 5,
        "width": 700,
        "height": 1060,
        "content": "🔥 Автоматизированный ежедневный скрейпер Firecrawl с уведомлениями в Telegram Получайте структурированные данные, извлекаемые ежедневно из Интернета с помощью AI-движка извлечения Firecrawl, а затем отправляйте их прямо в свой чат Telegram."
      },
      "typeVersion": 1
    }
  ],
  "active": false,
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "40ed9017-f78f-4446-8b36-2a0a06f14add",
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "Wait 15 secs",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "30 Secs": {
      "main": [
        [
          {
            "node": "Get Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract": {
      "main": [
        [
          {
            "node": "30 Secs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Results": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 15 secs": {
      "main": [
        [
          {
            "node": "Get Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Extract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}