Классные_n8n_воркфлоу_на_русском/Создание_Контента/Extract_and_Translate_TikTok_Video_Transcripts_with_OpenAI_GPT-4_to_Google_Docs.json
{
  "meta": {
    "instanceId": "60c025075753afcab9f803964b4caaca9402f435deb4efafbb8e3b93b54d8752",
    "templateCredsSetupCompleted": true
  },
  "nodes": [
    {
      "id": "790b4f91-1a03-4386-8fdd-1d2a1b35b77e",
      "name": "On form submission",
      "type": "n8n-nodes-base.formTrigger",
      "position": [
        0,
        0
      ],
      "webhookId": "563d78fd-7443-496a-bb90-01d3d52cb1b0",
      "parameters": {
        "options": {},
        "formTitle": "Tiktok Transcript ",
        "formFields": {
          "values": [
            {
              "fieldLabel": "url",
              "requiredField": true
            },
            {
              "fieldLabel": "language",
              "requiredField": true
            }
          ]
        }
      },
      "typeVersion": 2.2
    },
    {
      "id": "93c6b503-f1ae-43eb-917b-687a881fe676",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "position": [
        480,
        0
      ],
      "webhookId": "d81d873d-9b5c-4f57-803f-f373fba1ab66",
      "parameters": {},
      "typeVersion": 1.1
    },
    {
      "id": "0589a81f-0f28-4db3-8426-0a814f745348",
      "name": "Google Docs",
      "type": "n8n-nodes-base.googleDocs",
      "position": [
        1100,
        0
      ],
      "parameters": {
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert"
            }
          ]
        },
        "operation": "update"
      },
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "Ks8ff7pYjBqXHENq",
          "name": "Google Docs account 2"
        }
      },
      "typeVersion": 2
    },
    {
      "id": "029bcd51-12d0-4b84-b33d-0c43b98aebb7",
      "name": "Open AI",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        740,
        0
      ],
      "parameters": {
        "url": "https://openai-gpt-4o-mini.p.rapidapi.com/chatAI/gpt-4-1-mini.php",
        "method": "POST",
        "options": {},
        "jsonBody": "={\n  \"temperature\": 0.7,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a helpful assistant. Your task is to process the subtitles provided to you and return a meaningful response based on the content. The subtitles may be in various languages. Please handle them accordingly and respond in the {{ $('On form submission').item.json.language }} language.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ $json.subtitles.replace(/\\\"/g, '\\\\\"').replace(/\\n/g, '\\\\n') }}\"\n    }\n  ]\n}\n",
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "headerParameters": {
          "parameters": [
            {
              "name": "x-rapidapi-host",
              "value": "openai-gpt-4o-mini.p.rapidapi.com"
            },
            {
              "name": "x-rapidapi-key",
              "value": "your key"
            }
          ]
        }
      },
      "typeVersion": 4.2
    },
    {
      "id": "c3af2912-c844-4dfd-82c7-2caa7928c497",
      "name": "Tiktok Transcript",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        220,
        0
      ],
      "parameters": {
        "url": "https://tiktok-transcript-ai.p.rapidapi.com/tiktok/index.php",
        "method": "POST",
        "options": {},
        "sendBody": true,
        "sendHeaders": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "={{ $json.url }}"
            }
          ]
        },
        "headerParameters": {
          "parameters": [
            {
              "name": "x-rapidapi-host",
              "value": "tiktok-transcript-ai.p.rapidapi.com"
            },
            {
              "name": "x-rapidapi-key",
              "value": "your key"
            }
          ]
        }
      },
      "typeVersion": 4.2
    },
    {
      "id": "a7585dae-e5b8-44c0-bf49-b757ff1b0906",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -500,
        -280
      ],
      "parameters": {
        "width": 380,
        "height": 1020,
        "content": "# Транскриптор TikTok"
      },
      "typeVersion": 1
    },
    {
      "id": "fc4a87b5-2516-4f08-851d-9ad741e31d17",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -80,
        -320
      ],
      "parameters": {
        "height": 540,
        "content": "### Обзор рабочего процесса:"
      },
      "typeVersion": 1
    },
    {
      "id": "f0aa7a93-7553-4343-8764-fc21454174bf",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        180,
        -320
      ],
      "parameters": {
        "height": 540,
        "content": "Этот **рабочий процесс n8n** автоматизирует процесс создания **транскрипта видео TikTok**, обрабатывает его с помощью **OpenAI GPT-4** для интерпретации и сохраняет результаты в **Google Docs**. Рабочий процесс использует **RapidAPI** как для транскрипции, так и для обработки ИИ."
      },
      "typeVersion": 1
    },
    {
      "id": "35105cb0-ced0-4d7c-8198-a577e353d199",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        440,
        -320
      ],
      "parameters": {
        "height": 540,
        "content": "### Узлы:"
      },
      "typeVersion": 1
    },
    {
      "id": "dc2cdb88-b6b2-4325-9ef9-eedf740e19c3",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        720,
        -320
      ],
      "parameters": {
        "height": 540,
        "content": "**При отправке формы**: Срабатывает, когда пользователь отправляет URL видео TikTok и выбирает язык."
      },
      "typeVersion": 1
    },
    {
      "id": "f32837e5-f495-4492-b27a-e6f4ae3f8664",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1000,
        -320
      ],
      "parameters": {
        "height": 540,
        "content": "**Транскрипт TikTok**: Извлекает транскрипт видео TikTok с помощью **[TikTok Transcript API](https://rapidapi.com/skdeveloper/api/tiktok-transcript-ai)**."
      },
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "connections": {
    "Wait": {
      "main": [
        [
          {
            "node": "Open AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Open AI": {
      "main": [
        [
          {
            "node": "Google Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tiktok Transcript": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Tiktok Transcript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}