Классные_n8n_воркфлоу_на_русском/Создание_Контента/Авто-генерация_SEO-статей_в_WordPress_с_помощью_Gemini_AI_и_изображений_OpenAI.json
{
  "id": "CTJy7x5XKqgp6DZn",
  "meta": {
    "instanceId": "ed6d846a2fce1f660ede2e7da800724cca01dc3d0685524a3c917881b7cfcfe9",
    "templateCredsSetupCompleted": true
  },
  "name": "- **Агентства**: Автоматизируйте создание и публикацию контента на нескольких сайтах клиентов на Wordpress, увеличивая объем работы вашего агентства.",
  "tags": [
    {
      "id": "1nTt3nVGfPKuBWLW",
      "name": "wordpress",
      "createdAt": "2025-05-27T02:35:46.996Z",
      "updatedAt": "2025-05-27T02:35:46.996Z"
    }
  ],
  "nodes": [
    {
      "id": "d2961374-2410-40b4-89f7-c96ce916c0cd",
      "name": "OpenAI - Generate Image",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        1460,
        0
      ],
      "parameters": {
        "prompt": "=Create a highly realistic, natural-looking image that visually represents the blog article titled \"{{ $json.title.raw }}\". The image should be grounded in reality with believable lighting, textures, and composition—avoid fantasy or surreal elements. Focus on lifelike details that a real camera could capture. Do not include any text in the image.\n\nGuidelines:\n\n1. Subject Matter:\n- Ensure the image directly relates to the central theme of the blog article.\n- Depict real-world scenarios or objects that embody the article's core message.\n\n2. Realism and Detail:\n- Use natural lighting and authentic textures to enhance realism.\n- Incorporate subtle details such as shadows, reflections, and depth of field to mimic real photography.\n\n3. Composition:\n- Employ a composition that aligns with professional photography standards, considering elements like framing, perspective, and balance.\n- Avoid any fantastical or surreal components that could detract from the image's authenticity.\n\n4. Technical Specifications:\n- Aim for high-resolution output suitable for web publication.\n- Ensure the image is free of any textual elements or overlays.\n\n",
        "options": {
          "size": "1024x1024",
          "style": "vivid"
        },
        "resource": "image"
      },
      "credentials": {
        "openAiApi": {
          "id": "qULV9xA6eq3tfpye",
          "name": "OpenAi - nhu.le"
        }
      },
      "typeVersion": 1.8
    },
    {
      "id": "2d35f4e8-9eec-41f9-a097-b551afc21903",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        0,
        0
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "id": "bb2e9761-2b7c-4e4d-8d20-eca1b357b1ad",
      "name": "Agent - Topic Chooser & Title Generator",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        440,
        0
      ],
      "parameters": {
        "text": "Work as instructed!",
        "messages": {
          "messageValues": [
            {
              "message": "=You are an expert SEO blog writer for “Agent Circle” specializing in Technology and Artificial Intelligence content. For each request, you must:\n\n1. Randomly select one category (exactly as shown):\n– Artificial Intelligence (AI)\n– AI Agents\n– Automation\n– Workflow\n- Prompts\n\n2. Create the following elements:\n\n- Article Title: Unique, non-robotic, and engaging. Avoid using colons “:”. Clickbait is acceptable if not exaggerated.\n\n- Slug: URL-friendly, lowercase, hyphen-separated.\n\n- Focus Keyphrase: Maximum of 2 words, capturing the main idea.\n\n- Meta Description: Up to 160 characters, summarizing the article compellingly.\n\n3. Use the current year placeholder: If needed, incorporate {{ $now.year }} in the title to ensure content remains up-to-date.\n\nOutput exactly in this format:\nCategory: <chosen category>\nTitle: <your title>\nSlug: <your-slug>\nFocus Keyphrase: <max 2 words>\nMeta Description: <≤160 characters>"
            }
          ]
        },
        "promptType": "define",
        "hasOutputParser": true
      },
      "typeVersion": 1.6
    },
    {
      "id": "a4e94839-a09b-49ff-9ccb-b0e6669027d7",
      "name": "Agent - Article Generator",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        760,
        0
      ],
      "parameters": {
        "text": "=Write a SEO Blog Article with 1,500–2,500-word.\n\nUse the following inputs:\n- Title: {{ $json.output.title }}\n- Category: {{ $json.output.category }}\n- Focus Phrase: {{ $json.output.focus_phrase }}\n\nInstructions:\n\nTitle Handling\n- Use the given title as-is.\n- Do not repeat the title within the article body.\n\nOpening Section (100–150 words)\n- Start with an engaging hook to captivate readers.\n- Seamlessly include the focus phrase within the first 2–3 sentences.\n- Do not label this section as \"Introduction\".\n\nArticle Body Structure\n- Use 4 to 6 H2 headings, each with optional 1–2 H3s underneath as needed.\n- Include the focus phrase in at least one H2 or H3.\n- Naturally use the focus phrase throughout the article (between 4 to 16 times total).\n- Add bullet points, examples, data, or expert quotes to enrich the content.\n- Include at least one outbound link to a relevant high-authority source (if available).\n- Avoid inserting the article title again anywhere in the content.\n\nWriting Style\n- Friendly yet authoritative tone.\n- Clear, digestible paragraphs (2–4 sentences each).\n- Maintain logical flow with smooth transitions and varied sentence structure.\n- Write for a general audience—avoid jargon or overly technical explanations.\n\nFinal Section (Conclusion & CTA)\n- Do not label this section as “Conclusion”.\n- Summarize the article’s key takeaways.\n- End with a compelling call to action, encouraging readers to learn more or take the next step.\n- Add a contact call-to-action like:\n“For more insights or collaboration opportunities, visit www.agentcircle.ai.”\n\nSEO & Readability\n- Ensure excellent grammar and sentence flow.\n- Optimize for keyword density and natural placement.\n- Prioritize readability for desktop and mobile audiences.\n\nEnsure flawless grammar, optimal keyword density, and readability for a general audience.",
        "messages": {
          "messageValues": [
            {
              "message": "=Role: You are an elite blog writer for Dax AI, specializing in crafting highly valuable, SEO-optimized, audience-focused long-form articles ready for direct publication in WordPress.\n\nWhen provided with a topic or title, adhere strictly to the following guidelines:\n\n1. Content Focus\n- Deliver practical tips, clear strategies, in-depth insights, or step-by-step guides directly related to the topic.\n- Prioritize original, actionable advice that readers can implement immediately.\n\n2. Article Length & Structure\n- Minimum Word Count: 1,500 words.\n- Headings:\n  - Utilize clear hierarchical headings to organize content:\n    - <h2> for main sections.\n    - <h3> for subsections.\n    - <h4> for detailed points within subsections.\n- Flow:\n  - Ensure each section flows logically, with appropriate introductions, transitions, and conclusions.\n\n3. SEO Optimization\n- Scannability:\n  - Use short paragraphs (2–4 sentences).\n  - Incorporate subheadings and bulleted or numbered lists for easy reading.\n- Keyword Usage:\n  - Naturally incorporate relevant keywords without keyword stuffing.\n- Meta Description:\n  - Write an engaging, concise meta description (under 160 characters) at the top of the article.\n\n4. WordPress-Compatible Formatting\n- Output Format:\n  - Provide plain text only—no Markdown, code fences, or additional commentary.\n- Headings:\n  - Format headings as recognized by WordPress:\n    - <h2>Section Title</h2>\n    - <h3>Subsection Title</h3>\n    - <h4>Detailed Point</h4>\n- Lists:\n  - For bullet points, use a dash followed by a space (e.g., – Example item).\n  - For numbered lists, use numerals followed by a period and a space (e.g., 1. Step one).\n  - Do not bold list items.\n\n5. Final Output\n- Content Only:\n  - Provide only the article body in ready-to-publish WordPress format.\n  - Exclude the article title, author bylines, and any formatting instructions.\n- Commencement:\n  - Begin immediately with the first <h2> section heading.\n\n"
            }
          ]
        },
        "promptType": "define"
      },
      "typeVersion": 1.6
    },
    {
      "id": "e554cb3b-f343-46a5-af3b-45560558791e",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        600,
        160
      ],
      "parameters": {
        "jsonSchemaExample": "{\n\t\"category\": \"AI Agent\",\n\t\"title\": \"Article Title\",\n    \"slug\": \"article-slug\",\n\t\"focus_phrase\": \"focus phrase for SEO\",\n\t\"meta_description\": \"meta description under 160 characters\"\n}"
      },
      "typeVersion": 1.2
    },
    {
      "id": "7d0ea204-8162-497c-a092-93efc52a0d31",
      "name": "Wordpress - Post Draft",
      "type": "n8n-nodes-base.wordpress",
      "position": [
        1180,
        0
      ],
      "parameters": {
        "title": "={{ $('Agent - Topic Chooser & Title Generator').item.json.output.title }}",
        "additionalFields": {
          "slug": "={{ $('Agent - Topic Chooser & Title Generator').item.json.output.slug }}",
          "format": "standard",
          "status": "draft",
          "content": "={{ $json.text }}",
          "authorId": 1,
          "categories": "={{ $('Agent - Topic Chooser & Title Generator').item.json.output.category == \"Technology\" ? [3] :\n    $('Agent - Topic Chooser & Title Generator').item.json.output.category == \"Artificial Intelligence (AI)\" ? [4] :\n    $('Agent - Topic Chooser & Title Generator').item.json.output.category == \"Tech Fact\" ? [7] :\n    $('Agent - Topic Chooser & Title Generator').item.json.output.category == \"Tech History\" ? [8] :\n    $('Agent - Topic Chooser & Title Generator').item.json.output.category == \"Tech Tips\" ? [9] : [1] }}"
        }
      },
      "credentials": {
        "wordpressApi": {
          "id": "DFtnJY9TH397pOG8",
          "name": "Wordpress - admin"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "c94d2435-297c-4270-b00b-8e01ac699346",
      "name": "Wordpress - Upload Image",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1640,
        0
      ],
      "parameters": {
        "url": "=https://{{ $('Fields - Set Website').item.json.website }}/wp-json/wp/v2/media",
        "method": "POST",
        "options": {},
        "sendBody": true,
        "contentType": "binaryData",
        "sendHeaders": true,
        "authentication": "predefinedCredentialType",
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "image/png"
            },
            {
              "name": "Content-Disposition",
              "value": "=attachment; filename={{$now.toMillis()}}.png"
            }
          ]
        },
        "inputDataFieldName": "data",
        "nodeCredentialType": "wordpressApi"
      },
      "credentials": {
        "wordpressApi": {
          "id": "DFtnJY9TH397pOG8",
          "name": "Wordpress - admin"
        }
      },
      "typeVersion": 4.2
    },
    {
      "id": "4097ce7f-8927-4545-9556-eb9cdc64357d",
      "name": "Telegram - Send Message",
      "type": "n8n-nodes-base.telegram",
      "disabled": true,
      "position": [
        2080,
        0
      ],
      "webhookId": "29c01d67-35b0-4234-92dd-c729fcb6fe7e",
      "parameters": {
        "text": "=Post Published!\n\nArticle: {{ $json.link }}",
        "chatId": "=",
        "additionalFields": {}
      },
      "credentials": {
        "telegramApi": {
          "id": "haaaQCcDSaJAtymy",
          "name": "Telegram account - hoanglt"
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "c457c854-eca6-4aab-9dd9-8b92553e2cfa",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -800,
        -420
      ],
      "parameters": {
        "width": 660,
        "height": 1800,
        "content": "## [n8n Automation] Автоматическая генерация SEO-статей в Wordpress - Попробуйте!"
      },
      "typeVersion": 1
    },
    {
      "id": "911d0a64-fb6f-4020-ab2f-774071f99173",
      "name": "Fields - Set Website",
      "type": "n8n-nodes-base.set",
      "position": [
        180,
        0
      ],
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "4e89ea19-63e5-4c15-859a-7fbc5ac7ef7c",
              "name": "website",
              "type": "string",
              "value": "www.agentcircle.ai"
            }
          ]
        }
      },
      "typeVersion": 3.4
    },
    {
      "id": "a64228c0-b7ad-4f10-b63e-177505d20e03",
      "name": "Wordpress - Set Featured Image & Post",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1820,
        0
      ],
      "parameters": {
        "url": "=https://{{ $('Fields - Set Website').item.json.website }}/wp-json/wp/v2/posts/{{ $('Wordpress - Post Draft').item.json.id }}",
        "method": "POST",
        "options": {},
        "sendBody": true,
        "authentication": "predefinedCredentialType",
        "bodyParameters": {
          "parameters": [
            {
              "name": "featured_media",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "nodeCredentialType": "wordpressApi"
      },
      "credentials": {
        "wordpressApi": {
          "id": "DFtnJY9TH397pOG8",
          "name": "Wordpress - admin"
        }
      },
      "typeVersion": 4.2
    },
    {
      "id": "ed2b75ad-56de-4e1f-a019-b669d5e3c100",
      "name": "Google Gemini Chat Model 2",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "position": [
        760,
        160
      ],
      "parameters": {
        "options": {},
        "modelName": "models/gemini-2.0-flash"
      },
      "credentials": {
        "googlePalmApi": {
          "id": "AlDwotqhFT4EfJXQ",
          "name": "Google Gemini(PaLM) Api - toan.ngo"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "f784998d-edbd-471c-9a10-856af15a5866",
      "name": "Google Gemini Chat Model 1",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "position": [
        440,
        160
      ],
      "parameters": {
        "options": {},
        "modelName": "models/gemini-2.0-flash"
      },
      "credentials": {
        "googlePalmApi": {
          "id": "AlDwotqhFT4EfJXQ",
          "name": "Google Gemini(PaLM) Api - toan.ngo"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "3c869b15-e99b-4139-903b-c97c5566260d",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -80,
        -420
      ],
      "parameters": {
        "color": 6,
        "width": 440,
        "height": 760,
        "content": "**Этот шаблон n8n помогает вам автоматизировать процесс генерации, загрузки и сохранения SEO-оптимизированных статей в виде черновиков на вашем сайте Wordpress с использованием AI-агентов как для контента, так и для визуалов.**"
      },
      "typeVersion": 1
    },
    {
      "id": "ee3d0cef-6beb-45dd-9e59-76039e3b19fc",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        400,
        -420
      ],
      "parameters": {
        "color": 6,
        "width": 640,
        "height": 760,
        "content": "Существует множество вариантов использования:"
      },
      "typeVersion": 1
    },
    {
      "id": "40876aaf-6a6d-449f-8358-c4216af4fa7a",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1080,
        -420
      ],
      "parameters": {
        "color": 6,
        "width": 300,
        "height": 760,
        "content": "- **Владельцы блогов**: Легко поддерживайте ваш блог на Wordpress в актуальном состоянии с автоматизированными, SEO-оптимизированными статьями и изображениями."
      },
      "typeVersion": 1
    },
    {
      "id": "2f27d5eb-1a95-4d5a-9bf0-3191b6e9fc7c",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2000,
        -420
      ],
      "parameters": {
        "color": 6,
        "width": 280,
        "height": 760,
        "content": "- **Партнерские маркетологи**: Быстро публикуйте посты на Wordpress, насыщенные ключевыми словами, чтобы увеличить трафик и доходы от партнерских программ без ручного написания."
      },
      "typeVersion": 1
    },
    {
      "id": "674e5af3-1c2d-4da5-b09a-50cb1832bd28",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1420,
        -420
      ],
      "parameters": {
        "color": 6,
        "width": 540,
        "height": 760,
        "content": "- **Редакции и контентные команды**: Мгновенно создавайте и загружайте актуальные статьи на Wordpress, чтобы быть на шаг впереди по трендовым темам с минимальными усилиями."
      },
      "typeVersion": 1
    }
  ],
  "active": false,
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0e443100-ae8d-46ed-b83d-c54d5c8e86d2",
  "connections": {
    "Fields - Set Website": {
      "main": [
        [
          {
            "node": "Agent - Topic Chooser & Title Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wordpress - Post Draft": {
      "main": [
        [
          {
            "node": "OpenAI - Generate Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI - Generate Image": {
      "main": [
        [
          {
            "node": "Wordpress - Upload Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Agent - Topic Chooser & Title Generator",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Wordpress - Upload Image": {
      "main": [
        [
          {
            "node": "Wordpress - Set Featured Image & Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent - Article Generator": {
      "main": [
        [
          {
            "node": "Wordpress - Post Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model 1": {
      "ai_languageModel": [
        [
          {
            "node": "Agent - Topic Chooser & Title Generator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model 2": {
      "ai_languageModel": [
        [
          {
            "node": "Agent - Article Generator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Fields - Set Website",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wordpress - Set Featured Image & Post": {
      "main": [
        [
          {
            "node": "Telegram - Send Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent - Topic Chooser & Title Generator": {
      "main": [
        [
          {
            "node": "Agent - Article Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}